<div class="slide-wrapper">
  <div class="div-slide {{productCssClass}}" title="" (click)="onCardClick($event)">
    <div class="top-container">
      <div class="icon-rip"></div>
    </div>

    <h3>{{productContext.productName}}</h3>
    <p>{{productContext.shortDesc}}</p>
    <div class="highlight-bg {{productContext.mainCssClass}}"></div>
  </div>

  <div class="table-cellprop" *ngIf="collapsed !== true">
    <div class="bottom-pane">
      <div class="image-holder {{ onBGImageCssClass }}">
        <img imgSrc="/images/Curve.png" alt="curve" />
      </div>

      <div class="content-info">
        <p class="dashboard-title">{{productContext.productName}} </p>
        <hr class="db-title-hr">

        <div *ngIf="productContext.productId === PRODUCT_NAME.Introduction">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label>Primary Contact:</label>
              <label class="data-label">{{productContext.contactName}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label>Email:</label>
              <label class="data-label">{{productContext.contactEmail}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label>Phone: </label>
              <label class="data-label">{{productContext.contactPhone}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label>Current Release:</label>
              <label class="data-label">{{productContext.versionNumber}}</label>
            </div>
          </div>
        </div>

        <div *ngIf="productContext.productId !== PRODUCT_NAME.Introduction">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label>Product Owner:</label>
              <label class="data-label">{{productContext.contactName}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label>Front Line Support: </label>
              <label class="data-label">{{productContext.contactPhone}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label>Current Release:</label>
              <label class="data-label">{{productContext.versionNumber}}</label>
            </div>
          </div>
        </div>

        <hr>

        <p class="white-space-normal">{{productContext.longDesc}}</p>
      </div>

      <div class="row content-info-bottom" *ngIf="productContext.productId !== 1">
        <div class="col-md-6 col-md-6 col-lg-6 more-link-main">
          <a routerLink="/{{productsRouteBase}}/{{productContext.productCode}}"
             [className]="!isUserProduct(productContext.productId) ? 'cursor-stop more-link' : 'more-link'"
             *ngIf="productContext.isOffered">
            Go to the Product
          </a>
        </div>
        <div class="col-md-6 col-md-6 col-lg-6 p2p-btm">
          <img imgSrc="{{productImageUrl}}" alt="{{productContext.productName}}" class="bottom-icon" />
        </div>
      </div>
    </div>
  </div>
</div>
