.content-info {
  .row {
    label {
      display: block;
      margin: 0;

      &.data-label {
        font-weight: normal;
        margin: 0 0 10px 10px;
      }
    }
  }
}
.cursor-stop {
  cursor: not-allowed !important;
}

a {
  cursor: pointer !important;
}

.div-slide{
  white-space: normal !important;
}
.white-space-normal {
  white-space: normal;

}
