input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #222222;
  opacity: 1; /* Firefox */
}
input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #222222;
}
input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #222222;
}
.close-icon,
.filter-box {
  position: relative;
}
.close-icon,
.filter-box {
  position: relative;
}

.close-icon {
  border: 0px;
  background-color: #ffa63e;
  color: #fff;
  cursor: pointer;
  height: 35px;
  font-size: 16px;
  width: 35px;
  margin-right: 8px;
}
.filter-box {
  display: inline-flex;
  align-items: center;
  padding: 0;
  position: relative;
  input:focus,
  input:hover {
    border: 1px solid #fff !important;
    outline: 0;
    background: #fff;
    color: gray !important;
    box-shadow: none !important;
  }
  input {
    background: #ffefdc;
    border: 0px;
    padding: 6px 6px 6px 6px !important;
    height: 35px;
    font-size: 14px;
    font-family: arial;
    color: #222222 !important;
    width: 180px;
    border-radius: 0px;
    box-shadow: none;
  }

  a {
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 3px;
  }

  #searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: rgb(61, 60, 60);
  }
  button {
    padding-left: 5px;
    background-color: #ffa63e;
  }
}
