.fi-onboarding {
  overflow: hidden;

  .red {
    color: red;
  }

  .green {
    color: green;
  }

  .fi-details {
    header {
      margin-bottom: 20px;
      min-height: 35px;
      // padding: 5px;
    }

    > ul {
      li {
        label {
          display: block;
          font-weight: normal;
          margin-bottom: 2px;
        }

        label:last-of-type {
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
    }
  }

  .fi-configs {
    header {
      margin-bottom: 20px;
      min-height: 35px;
      // padding: 5px;

      button {
        float: right;
      }
    }

    > ul {
      li {
        position: relative;

        label {
          display: block;
          font-weight: normal;
          margin-bottom: 2px;
        }

        label:last-of-type {
          font-weight: bold;
          margin-bottom: 10px;
        }

        .controls {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }

    .cfg-add-panel {
      > .controls {
        margin-top: 10px;
        text-align: right;

        button:first-of-type {
          margin-right: 10px;
        }
      }
    }

    .cfg-edit-panel {
      > .controls {
        margin-top: 10px;
        text-align: center;

        button:first-of-type {
          margin-right: 10px;
        }
      }
    }
  }
}

::ng-deep .mat-slide-toggle-bar {
  background-color: grey;
}

.cursor-stop {
  cursor: not-allowed !important;
}
.btn-default-custom-dark-blue {
  background-color: #024b94;
}
.btn-default-custom-dark-blue:hover,
.btn-default-custom-dark-blue:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #024b94;
  border: 1px solid #024b94;
}
.btn-default-custom-green {
  background-color: #3aa03a;
}
.btn-default-custom-green:hover,
.btn-default-custom-green:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #3aa03a;
  border: 1px solid #3aa03a;
}
.btn-default-custom-info {
  background-color: #089de3;
}
.btn-default-custom-info:hover,
.btn-default-custom-info:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #089de3;
  border: 1px solid #089de3;
}
.btn-default-custom-red {
  background-color: #dd0303;
}
.btn-default-custom-red:hover,
.btn-default-custom-red:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #dd0303;
  border: 1px solid #dd0303;
}
.btn-default-custom {
  margin-right: 0px;
  border-radius: 0px;
  border: 0px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  height: 35px;
  border-radius: 0px;
  padding: 8px 20px 10px;
  cursor: pointer;
  text-transform: capitalize;
}
::ng-deep .mat-slide-toggle-bar {
  background-color: grey;
}
.red {
  color: red;
}

.green {
  color: green;
}
.marg-left-5 {
  margin-left: 5px;
}
.check-user-nessage {
  height: 20px;
  width: 250px;
}
.grid-header .title {
  color: #fff;
  margin: 12px 10px;
}
header.header {
  background-color: #ff8a00 !important;
  min-height: 39px !important;
}
.width-100 {
  width: 100%;
}
.hieght-34 {
  height: 34px;
}
.mr-2 {
  margin-right: 20px !important;
}
.btn-link {
  color: #fff;
  margin: 0px;
  padding: 0px;
  margin: 0px;
}
.btn-link:hover {
  color: #fff;
}

.mb-1 {
  margin-bottom: 10px;
}

::ng-deep .live-btn.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #3aa03a;
}

::ng-deep .live-btn.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #98d498;
}
