<div
  class="product-maint col-md-12 col-lg-12 col-sm-12"
  contentHeight=".main-wrapper"
>
  <div class="grid-header">
    <div class="controls" *ngIf="!loading">
      <table>
        <tr>
          <td>
            <form [formGroup]="SearchForm">
              <filter-box
                (onClear)="RefreshFilterboxGrid(datatable)"
                (onChange)="onSearch($event,datatable)"
                placeholder="Search"
              ></filter-box>
            </form>
          </td>
          <td>
            <button
              (click)="onProdCreateClick()"
              class="btn btn-default btn-default-custom btn-default-custom-info default-boot"
            >
              <i class="fa fa-plus"></i>
              New Product
            </button>
          </td>
          <td></td>
          <td>
            <button
              *ngIf="items.length"
              class="btn btn-default btn-default-custom btn-default-custom-green marg-left-5 default-boot"
              (click)="datatable.exportCSV()"
            >
              <i class="fa fa-file-excel-o"></i>
              Export
            </button>
          </td>
        </tr>
      </table>
    </div>

    <h3 class="title">Global Admin - Product Maintenance</h3>
  </div>

  <div #prodItemList>
    <p-table
      [value]="items"
      [columns]="cols"
      #datatable
      [responsive]="true"
      [resizableColumns]="true"
      exportFilename="Products"
      scrollHeight="70vh"
      [scrollable]="true"
      [paginator]="true"
      [rows]="17"
    >
      <ng-template pTemplate="colgroup" let-tableColumns>
        <colgroup>
          <col *ngFor="let col of tableColumns" />
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            pResizableColumn
            *ngFor="let col of columns"
            [pSortableColumn]="col.field"
            [style.width]="col.width"
          >
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
            <i class="pi pi-bars br-align"></i>
          </th>
          <th pResizableColumn class="edit-btn"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-items>
        <tr>
          <td class="ui-resizable-column">{{items.productCode}}</td>
          <td class="ui-resizable-column">{{items.productName}}</td>
          <td class="ui-resizable-column">{{items.shortDesc}}</td>
          <td class="ui-resizable-column">{{items.longDesc}}</td>
          <td class="txt-center ui-resizable-column">
            <i class="fa fa-check" *ngIf="items.isOffered"></i>
          </td>
          <td class="edit-btn ui-resizable-column">
            <i
              class="pi pi-pencil"
              (click)="onProdEditClick({data: items})"
            ></i>
            <i
              class="pi pi-trash"
              (click)="onProdDeleteClick({data: items})"
            ></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- PRODUCT MODAL -->
  <local-modal
    #prodModal
    [target]="prodItemList"
    class="productModel"
    height="60%"
    width="60%"
  >
    <header *ngIf="prodEditing" class="header">
      <h4 *ngIf="!prodEditing.productId">Add Product</h4>
      <h4 *ngIf="prodEditing.productId">Edit Product</h4>
    </header>

    <main *ngIf="prodForm">
      <form [formGroup]="prodForm" (ngSubmit)="onProdSaveClick()">
        <table class="table table-responsive ">
          <tr>
            <td style="width: 250px;">
              Name: <span style="color:Red;">*</span>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="Name"
                required="true"
                inputValidate
                errorMessage="Product Name is required"
                formControlName="productName"
              />
            </td>
          </tr>
          <tr>
            <td>Product Code: <span style="color:Red;">*</span></td>
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="Product Code"
                required="true"
                inputValidate
                maxlength="7"
                minlength="2"
                (keypress)="IV.alphaNumericOnly($event,true)"
                (blur)="restrictToAplhaNumericProductCode($event)"
                errorMessage="Product Code is required"
                [attr.disabled]="prodEditing.productId ? true : null"
                formControlName="productCode"
              />
              <span *ngIf="isProductCodeDup" style="color: rgb(180, 12, 12);"
                >Product Code already exist!</span
              >
            </td>
          </tr>
          <tr>
            <td>Short Description:</td>
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="Short Description"
                formControlName="shortDesc"
              />
            </td>
          </tr>
          <tr>
            <td>Long Description:</td>
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="Long Description"
                formControlName="longDesc"
              />
            </td>
          </tr>
          <tr>
            <td>Is Offered?:</td>
            <td>
              <input
                type="checkbox"
                class="large-checkbox"
                [attr.disabled]="isIntroduction ? true : null"
                formControlName="isOffered"
              />
            </td>
          </tr>
          <tr *ngIf="prodEditing.productCode != 'INTRO'">
            <td>Based Features:</td>
            <td>
              <ng-multiselect-dropdown
                [placeholder]="'Select'"
                [data]="dropdownList"
                [(ngModel)]="features"
                name="features"
                ngDefaultControl
                [ngModelOptions]="{standalone: true}"
                [settings]="dropdownSettings"
              >
              </ng-multiselect-dropdown>
            </td>
          </tr>
        </table>
      </form>
    </main>

    <footer class="form-controls-row">
      <button
        (click)="onProdSaveClick()"
        *ngIf="!saving"
        class="btn btn-sm btn-orange btn-default-custom btn-default-custom-info"
      >
        Save
      </button>
      <button
        (click)="onProdCancelClick()"
        *ngIf="!saving"
        class="btn btn-sm btn-default btn-default-custom btn-default-custom-red default-boot"
      >
        Cancel
      </button>
      <button *ngIf="saving">
        <loading-anim></loading-anim>
      </button>
    </footer>
  </local-modal>
</div>
