<!-- <h2>Mastercard Fees Rate Maintenance</h2> -->
<div class="rate-admin col-md-12 col-lg-12 col-sm-12" contentHeight=".page-wrapper">
  <div class="grid-header">
    <div class="controls" *ngIf="!loading">
      <table>
        <tr>
          <td>
            <form [formGroup]="SearchForm">
              <filter-box
                (onClear)="RefreshFilterboxGrid(datatable)"
                (onChange)="onSearch($event,datatable)"
                placeholder="Search"
              ></filter-box>
            </form>
          </td>
               <!-- <td>
                <button (click)="onRateCreateClick()" class="btn btn-default btn-default-custom btn-default-custom-info default-boot">
                  <i class="fa fa-plus"></i>
                  New Rate
                </button>
              </td>  -->
          <td>
                <button (click)="datatable.exportCSV()"  class="btn btn-default btn-default-custom btn-default-custom-green marg-left-5 default-boot">
              <i class="fa fa-file-excel-o"></i>
              Export
            </button>
          </td>
        </tr>
      </table>
    </div>
    <h4 class="title">
      {{aProduct.productName}} - Rate Maintenance
    </h4>
  </div>
  <div #masterCardGrid style="height: 100%;">
          <p-table [value]="mastercardList" [columns]="cols" #datatable dataKey="rateidx" [responsive]="true" [resizableColumns]="true" scrollHeight="70vh" [scrollable]="true" exportFilename="Mastercard-Fees"  [paginator]="true" [rows]="17">
      <ng-template pTemplate="colgroup" let-tableColumns>
        <colgroup>
                <col *ngFor="let col of tableColumns" > 
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
                      <th pResizableColumn *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
                          <p-sortIcon [field]="col.field"></p-sortIcon>
            <i class="pi pi-bars br-align"></i>
          </th>
                      <th pResizableColumn class="edit-btn">
                      </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-mastercardList>
        <tr>
          <td class="ui-resizable-column">{{mastercardList.RateNumber}}</td>
                      <td class="ui-resizable-column">{{mastercardList.RateDescription}}</td>
          <td class="ui-resizable-column">{{mastercardList.Rate}}</td>
          <td class="edit-btn ui-resizable-column">
                          <i class="pi pi-pencil" (click)="onRateEditClick({data: mastercardList})"></i>
                          <!-- <i class="pi pi-trash" (click)="onRateDeleteClick({data: mastercardList})"></i> -->
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

 <local-modal #MasterCardRateModal
    [target]="masterCardGrid"
    height="50%"
 width="60%">
    <header class="header">
      <h4 *ngIf="newRate">Add Rate</h4>
      <h4 *ngIf="!newRate">Edit Rate</h4>
    </header>
    <main>
    <form [formGroup]="rateForm" 
    (ngSubmit)="onRateSaveClick()">
        <table class="table table-responsive" border="0">
          <tr>
            <td>Rate#: </td>
        <td><input type="text" class="form-control" readonly placeholder="rateNumber" formControlName="RateNumber" 
                inputValidate
          errorMessage="Rate is required"></td>
          </tr>
          <tr>
            <td>Description:</td>
        <td><input type="text" class="form-control" readonly placeholder="description" formControlName="RateDescription" ></td>
          </tr>
          <tr>
            <td>Rate: <span style="color:Red;">*</span></td>
            <td>
              <input
                type="number"
                class="form-control"
                placeholder="rate"
                formControlName="Rate"
                (keypress)="IV.AllowDecimals($event)"               
              />
              <!-- min="0"
              max="99.9999999999" -->
            </td>
          </tr>
        </table>
      </form>
    </main>
    <footer class="form-controls-row">
    <button (click)="onRateSaveClick()" *ngIf="!saving" class="btn btn-sm btn-orange btn-default-custom btn-default-custom-info">Save</button>
    <button (click)="onRateCancelClick()" *ngIf="!saving" class="btn btn-sm btn-default btn-default-custom btn-default-custom-red default-boot" >Cancel</button>
      <button *ngIf="saving">
        <loading-anim></loading-anim>
      </button>
    </footer>
  </local-modal>
</div>
