
modal {

  .modal {
    position: static;

    .modal-overlay {
      background: rgba(0,0,0,0.25);
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .modal-body {
      overflow: hidden;

      header {
        clear: both;
        display: block;
        min-height: 50px;
      }

      main {
        clear: both;
        display: block;
      }

      footer {
        clear: both;
        display: block;
        min-height: 20px;
      }
    }
  }
}
