p-table{
    .inline-alignment {
         align-items: center;
         display: flex;
         float: right;
     }

     h6.heading-title {
         color: #FFF;
         margin: 10px 16px 10px 0px;
         font-size: 18px;
     }
     .pad-cont{
         padding: 10px 10px;
     }
     .txt-center{
         text-align: center;
     }

     .flex-center{
         align-items: center;
         display: flex;
         justify-content: center;
     }
     .edit-btn{
         font-size: 20px !important;
         text-align: center;
         width: 100px;
     }
     .ed-plus{
         font-size: 12px;
         margin-right: 4px;
     }

     .no-padding {
         padding: 0px !important;
     }
     .tablebox{
         display: flex;
         height: 100%;
         padding: 10px;
     }
     .tab-collapse {
         border: 1px solid hsl(209, 60%, 75%) !important;
         padding-right: 18px !important;
         &:not(:hover){
            background: #deebf7;
         }
     }
     th {
         height: 25px;
         min-height: 25px;
         background-color: #5e9cd3;
         color: white;
         font-weight:normal;
         position: relative;
 
     }
     td {
         height: 32px;
         min-height: 32px;
         font-weight:normal;
         border: 1px dotted hsl(209, 60%, 75%) !important;
         position: relative;
     }
     .icon-right {
         margin-right: 12px;
     }
     i.pi{
         &.pi-plus::before{
             content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCBzdHJva2Utb3BhY2l0eT0iLjUiIHN0cm9rZT0iIzAwMCIgeD0iMS41IiB5PSIxLjUiIHdpZHRoPSI5IiBoZWlnaHQ9IjkiIHJ4PSIxIi8+PHBhdGggZmlsbD0iIzAwMCIgZD0iTTUgM2gydjZINXoiLz48cGF0aCBmaWxsPSIjMDAwIiBkPSJNOSA1djJIM1Y1eiIvPjwvZz48L3N2Zz4=);
         }
         &.pi-minus::before{
             content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCBzdHJva2Utb3BhY2l0eT0iLjUiIHN0cm9rZT0iIzAwMCIgeD0iMS41IiB5PSIxLjUiIHdpZHRoPSI5IiBoZWlnaHQ9IjkiIHJ4PSIxIi8+PHBhdGggZmlsbD0iIzAwMCIgZD0iTTkgNXYySDNWNXoiLz48L2c+PC9zdmc+);
         }
     }

    .br-align {
         position: absolute;
         right: 4px;
         top:6px;
     }
     .ui-table .ui-table-thead>tr>th, .ui-table .ui-table-tbody>tr>td, .ui-table .ui-table-tfoot>tr>td{
         padding:4px 11px;
         white-space: pre;
         text-overflow: ellipsis;
     }
     tbody {
        tr:nth-child(odd) {
            background: #ffffff;
        }
          tr {
            &:nth-child(even) {
                &:not(:hover){
                    background: #deebf7;
                }
            }
          }
          
      }
 }
