@import '../../../../assets/styles/colors.scss';

.user-profile {
  background-color: #FFF;
  overflow: hidden;
  padding: 0 20px;

  //> ul {
  //
  //  > li {
  //    display: inline-block;
  //    margin: 0 20px 20px 0;
  //    width: 50%;
  //  }
  //}

  h3 {
    color: $orange-primary;
  }

  section {
    border: 1px solid #CCC;
    margin-bottom: 20px;
    height: 380px;
    overflow: hidden;

    header {
      background-color: #EEE;
      padding: 5px;
      position: relative;

      > label {
        color: $orange-primary;
        font-size: 18px;
        margin: 5px 10px;
      }

      .controls {
        position: absolute;
        right: 5px;
        top: 5px;

        button {
          display: inline-block;
        }
      }
    }

    main {
      padding: 20px;

      .row {
        margin-bottom: 10px;

        select {
          height: 26px;
          width: 100%;
        }
      }

      .controls {
        padding-bottom: 10px;
        text-align: right;
      }
    }
  }
}

.phont-with-ext {

  label {

    &:nth-of-type(2){
      margin-left: 5px;
    }
  }
}
