<div id="wrapper">
  <app-header></app-header>

  <div class="container-fluid page-wrapper user-profile">
    <h3>User Profile</h3>

    <div class="row" *ngIf="userDetails">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <profile-details [details]="userDetails" (save)="onSaveDetails($event)"></profile-details>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <section>
          <header>
            <label>Profile Security</label>
          </header>

          <main *ngIf="userDetails">
            <profile-password [details]="userDetails" (save)="onSvePassword($event)"></profile-password>
            <security-question [details]="userDetails" (save)="onSaveSecQuestion($event)"></security-question>
          </main>
        </section>
      </div>
    </div>
  </div>

  <div id="push"></div>
</div>


