<div class="product-pane" *ngIf="productContext">
  <div class="row">
      <div class="col-sm-5">
          <h3 class="page-header nopadding">{{productContext.productName}}</h3>
      </div>
      <div class="col-sm-6 pad-count-p">
          <p *ngIf="productContext.productCode === 'CPSRTP'">{{rtpStats?.FiCount}} FIs onboarded. {{rtpStats?.RTPTransactionCount}} successful RTP transactions for the past 30 days</p>
      </div>      
  </div>
  <div class="row">
      <div class="col-sm-6 col-md-3">
        <h4>Contact Info</h4>
        <div style="padding:0 10px">

          <div class="row contact-row">
            <div class="col-sm-5"><label>Contact Type</label></div>
            <div class="col-sm-7 word-wrap">{{productContext.contactType}}</div>
          </div>
          <div class="row contact-row">
            <div class="col-sm-5"><label>Contact</label></div>
            <div class="col-sm-7">{{productContext.contactName}}</div>
          </div>
          <div class="row contact-row">
            <div class="col-sm-5"><label>Email</label></div>
            <div class="col-sm-7 word-wrap">{{productContext.contactEmail}}</div>
          </div>
          <div class="row contact-row">
            <div class="col-sm-5"><label>Phone</label></div>
            <div class="col-sm-7">{{productContext.contactPhone}}</div>
          </div>
        </div>
    </div>

    <div class="col-sm-12  col-md-6">
      <!--<h4>Monthly FI(s) Count</h4>-->
      <!--<div #chartPanel style="padding:0 10px"></div>-->
      <div class="coming-soon">
        <img src="/assets/images/coming_soon.png" title="Coming Soon"/>
      </div>
    </div>

    <div *ngIf="productContext.ProductNotes && productContext.ProductNotes.length">
      <div class="col-sm-6 col-md-3">
        <h4>Notes</h4>
        <div id="SelectedProductNote" class="notes-pane">
          <div *ngFor="let note of productContext.ProductNotes">
            {{note.Version}} - {{note.Note}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-right">
      <hr />
      <a routerLink="/{{productsRouteBase}}/{{productContext.productCode}}"
      [className]="!isUserProduct(productContext.productId) ? 'cursor-stop more-link' : 'more-link'"
         *ngIf="productContext.isOffered">
        Go to the Product 
      </a>
    </div>
  </div>
</div>

