<p>awards works!</p>

//Dropdown for error types
<br>

<p-table  #datatable [value]="errorList" [columns]="cols" {responvive]="true" [resizableColumns]="true" scrollHeight="70vh" [scrollable]="true"
 exportFilename="Awards" [expandedRowKeys]="expandedRows" [paginator]="true" [rows]="17"}>
 
 <ng-template pTemplate="header" let-columns>
    <tr>
        <th pResizableColumn *ngFor="let col of columns">
            <!-- {{col.header}} -->
            {{col}}
            <i class="pi pi-bars br-align"></i>
        </th>
        <th pResizableColumn class="edit-btn">
        </th>
    </tr>
</ng-template>

<ng-template pTemplate="body" let-fiList let-expanded="expanded">
    <tr>
        <td class="ui-resizable-column">
            <a [pRowToggler]="awardErrorList" class="icon-right">
                <i [ngClass]="expanded ? 'pi pi-minus' : 'pi pi-plus'"></i>
            </a>
            {{awardErrorList.Id}}
        </td>
        
        <td class="ui-resizable-column">{{fiList.aba}}</td>
        <td class="ui-resizable-column">{{fiList.fiName}}</td>
        <td class="ui-resizable-column">{{fiList.fiNameShort}}</td>
        <td class="ui-resizable-column">{{fiList.mainframeId}}</td>
        <!-- <td class="txt-center ui-resizable-column">
            <input type="checkbox" [(ngModel)]="fiList.isFdcMigrated">
          </td> -->
        <td class="ui-resizable-column">{{fiList.pscuClientId}}</td>
        <td class="ui-resizable-column">{{fiList.address}}</td>
        <td class="ui-resizable-column">{{fiList.city}}</td>
        <td class="ui-resizable-column">{{fiList.state}}</td>
        <td class="ui-resizable-column">{{fiList.zip}}</td>
        <td class="ui-resizable-column">{{fiList.zip4}}</td>
        <td class="edit-btn ui-resizable-column">
            <i class="pi pi-pencil" (click)="onFiEditClick({data: fiList})"></i>
            <i class="pi pi-trash" (click)="onFiDeleteClick({data: fiList})"></i>
        </td>
    </tr>
</ng-template>


</p-table>