<div class="row product-versions">
      <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="grid-header">
              <div class="controls" *ngIf="!loading">
                <table>
                  <tr>
                    <td>
                      <form [formGroup]="SearchForm">
                        <filter-box
                        (onClear)="RefreshFilterboxGrid(datatable)"
                        (onChange)="onSearch($event,datatable)"
                        placeholder="Search"
                      ></filter-box>

                      </form>
                    </td>
                    <td> <button (click)="onVersionCreateClick()" class="btn btn-default btn-default-custom btn-default-custom-info default-boot">
                        <i class="fa fa-plus"></i>
                        New Version
                      </button> </td>
                      <td> <button *ngIf="versionList.length" (click)="datatable.exportCSV()" class="btn btn-default btn-default-custom btn-default-custom-green marg-left-5 default-boot">
                          <i class="fa fa-file-excel-o"></i>
                          Export
                        </button></td>
                      <td>
                        <button (click)="collapseAll()" class="btn btn-default btn-default-custom btn-default-custom-dark-blue marg-left-5 default-boot"><i class="fa fa-minus"></i> Collapse  All</button>
                      </td>
                  </tr>
                </table>
              </div>
              <h4 class="title"> {{ Heading }} - Product Versions</h4>
            </div>
            <div #versionGrid>
                <p-table [value]="versionList" [columns]="cols" #datatable dataKey="versionId" [responsive]="true" [resizableColumns]="true"
                (sortFunction)="customSort($event)" [customSort]="true"
                scrollHeight="40vh" [scrollable]="true" exportFilename="Versions"  [expandedRowKeys]="expandedRows" [paginator]="true" [rows]="10">
                <ng-template pTemplate="colgroup" let-tableColumns> 
                  <colgroup> 
                    <col *ngFor="let col of tableColumns" > 
                  </colgroup> 
                </ng-template> 
                    <ng-template pTemplate="colgroup" let-tableColumns> 
                      <colgroup> 
                        <col *ngFor="let col of tableColumns" > 
                      </colgroup> 
                    </ng-template> 
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th pResizableColumn *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                                <i class="pi pi-bars br-align"></i>
                            </th>
                            <th pResizableColumn class="edit-btn">
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-versionList let-expanded="expanded">
                        <tr>
                            <td class="ui-resizable-column">
                                <a [pRowToggler]="versionList" class="icon-right">
                                    <i [ngClass]="expanded ? 'pi pi-minus' : 'pi pi-plus'"></i>
                                </a>
                                {{versionList.version}}
                              </td>
                            <td class="txt-center ui-resizable-column">
                                <i class="fa fa-check" *ngIf="versionList.released"></i>
                              </td>
                            <td class="ui-resizable-column">{{versionList.releaseOrProductionDate | date:'mediumDate'}}</td>
                            <td class="ui-resizable-column">{{versionList.createdBy}}</td>
                            <td class="ui-resizable-column">{{versionList.createDate |  date: 'medium' }}</td>
                            <td class="ui-resizable-column">{{versionList.updatedBy}}</td>
                            <td class="ui-resizable-column">{{versionList.updateDate | date:'medium'}}</td>
                            <td class="edit-btn ui-resizable-column">
                                <i class="pi pi-pencil" (click)="onVersionEditClick({data: versionList})"></i>
                                <i class="pi pi-trash" (click)="onVersionDeleteClick({data: versionList})"></i>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-versionList>
                      <!-- {{versionList}} -->
                      <tr>
                        <td colspan="8" class="no-padding tab-collapse">
                            <div class="ui-g tablebox ">
                                <div class="ui-g-12 ui-md-1 no-padding txt-center" >
                                    <button class="btn btn-default btn-default-custom btn-default-custom-info default-boot" (click)="onNoteCreateClick({data: versionList})">
                                        <i class="fa fa-plus"></i>
                                        New Note
                                      </button>
                                </div>
                                <div class="ui-g-12 ui-md-11 no-padding">
                                    <p-table [value]="versionList.notes" [paginator]="true" [rows]="6">
                                      <ng-template pTemplate="colgroup" let-tableColumns> 
                                        <colgroup> 
                                          <col *ngFor="let col of tableColumns" > 
                                        </colgroup> 
                                      </ng-template> 
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>Notes <i class="pi pi-bars br-align"></i></th>
                                                <th>Created By <i class="pi pi-bars br-align"></i></th>
                                                <th>Created Date <i class="pi pi-bars br-align"></i></th>
                                                <th class="edit-btn">
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-note>
                                            <tr>
                                                <td>
                                                    {{note.note}}
                                                </td>
                                                <td>{{note.createdBy}}</td>
                                                <td>{{note.createDate | date:'mediumDate'}}</td>
                                                <td class=" edit-btn">
                                                    <i class="pi pi-pencil" (click)="onNoteEditClick({data: note})"></i>
                                                    <i class="pi pi-trash" (click)="onNoteDeleteClick({data: note})"></i>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </td>
                      </tr>
                        
                    </ng-template>
                </p-table> 
            </div>
    
        <!-- VERSION MODAL -->
        <local-modal #versionModal
                     [target]="versionGrid"
                     height="80%"
                     width="60%" class="addEditVersion">
          <header *ngIf="versionEditing" class="header">
            <h4 *ngIf="!versionEditing.versionId">Add Version</h4>
            <h4 *ngIf="versionEditing.versionId">Edit Version</h4>
          </header>
    
          <main *ngIf="versionForm">
            <form [formGroup]="versionForm"
                  (ngSubmit)="onVersionSaveClick()">
              <table class="table table-responsive" border="0">
                <tr>
                  <td class="width-20">Version: <span style="color:Red;">*</span></td>
                  <td class="width-80">
                    <input type="text" 
                           class="form-control"
                           placeholder="Version" minlength="1"
                           inputValidate
                               errorMessage="Version is required"
                           formControlName="version"/>
                  </td>
                </tr>
                <tr>
                  <td class="width-20">Released?:</td>
                  <td class="width-80">
                    <input type="checkbox"
                           class="large-checkbox"
                           formControlName="released"/>
                  </td>
                </tr>
                <tr>
                  <td class="width-20">REL/PROD Date:</td>
                  <td class="width-80">
                  <date-picker formControlName="releaseOrProductionDate" (keyup)="onKeyUpDate($event.target.value)" ></date-picker>
                  </td>
                </tr>
                <tr *ngIf="!versionEditing.versionId">
                  <td>Note: <span style="color:Red;">*</span></td>
                  <td>
                    <input type="text"
                           class="form-control"
                           placeholder="Note" minlength="5"
                           inputValidate
                               errorMessage="Note is required"
                           formControlName="note"/>   
                    <div *ngIf="versionForm.get('note').hasError('minlength')"> 
                       <span style="color:  rgb(180, 12, 12);">Note should be minimum of 5 letters or numbers</span> 
                    </div> 
                  </td>
                </tr>
              </table>
            </form>
          </main>
    
          <footer class="form-controls-row">
            <button (click)="onVersionSaveClick()" *ngIf="!saving" class="btn-sm btn-orange btn-default-custom btn-default-custom-info">Save</button>
            <button (click)="onVersionCancelClick()" *ngIf="!saving" class="btn btn-sm btn-default btn-default-custom btn-default-custom-red default-boot" >Cancel</button>
            <button *ngIf="saving">
              <loading-anim></loading-anim>
            </button>
          </footer>
        </local-modal>
    
        <!-- NOTE MODAL -->
        <local-modal #noteModal
                     [target]="versionGrid"
                     width="60%">
          <header *ngIf="noteEditing" class="header">
            <h4 *ngIf="!noteEditing.noteId">Add Note</h4>
            <h4 *ngIf="noteEditing.noteId">Edit Note</h4>
          </header>
    
          <main *ngIf="noteForm">
            <form [formGroup]="noteForm"
                  (ngSubmit)="onNoteSaveClick()">
              <table class="table table-responsive">
                <tr>
                  <td class="width-20">Note: <span style="color:Red;">*</span></td>
                  <td class="width-80">
                    <input type="text"
                           class="form-control"
                           placeholder="Version Note" minlength="5"
                           inputValidate
                               errorMessage="Note is required"
                           formControlName="note"/>
                     <div *ngIf="noteForm.get('note').hasError('minlength')"> 
                      <span style="color:  rgb(180, 12, 12);">Note should be minimum of 5 letters or numbers</span> 
                    </div>                 
                  </td>
                </tr>
              </table>
            </form>
          </main>
    
          <footer class="form-controls-row">
            <button (click)="onNoteSaveClick()" *ngIf="!saving" class="btn btn-sm btn-orange btn-default-custom btn-default-custom-info">Save</button>
            <button (click)="onNoteCancelClick()" *ngIf="!saving" class="btn btn-sm btn-default btn-default-custom btn-default-custom-red default-boot" >Cancel</button>
            <button *ngIf="saving">
              <loading-anim></loading-anim>
            </button>
          </footer>
        </local-modal>
      </div>
    </div>
    