<div *ngIf="isVisible">
  <div class="row" *ngIf="!isEditMode">
    <button class="btn-default-custom btn-default-custom-dark-blue w-25"
            (click)="onEditClick($event)">
      <i class="fa fa-pencil"></i>
      Change Password
    </button>
  </div>

  <form [formGroup]="passwordForm" *ngIf="!saving && isEditMode && passwordForm">
    <div class="row" *ngIf="isEditMode">
      
      <div class="col-sm-12 col-md-4 col-lg-4">
        <label>Current Password: <span style="color:Red;">*</span></label>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8">
        <input type="password" (keypress)="IV.passwordCharactersOnly($event)" formControlName="password"/>
      </div>
    </div>

    <div class="row" *ngIf="isEditMode">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <label>New Password: <span style="color:Red;">*</span></label>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8">
        <input type="password" (keypress)="IV.passwordCharactersOnly($event)" formControlName="newPassword"/>
      </div>
    </div>

    <div class="row" *ngIf="isEditMode">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <label>Confirm Password: <span style="color:Red;">*</span></label>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8">
        <input type="password" (keypress)="IV.passwordCharactersOnly($event)" formControlName="confirm"/>
      </div>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12 controls" *ngIf="isEditMode">
      <button class="btn-default-custom btn-default-custom-info mr-1"
              (click)="onSaveClick($event)">
        Save
      </button>
      <button class="btn-default-custom btn-default-custom-red"
              (click)="onCancelClick($event)">
        Cancel
      </button>
    </div>
    
    <div class="col-sm-12">
        <span>
          <ul style="color:black;">
            <li>* Password length should be within 8 to 20 characters.</li>
            <li>* Password should contain at least one lowercase and uppercase letter,one number and one special character.</li>
            <li>* New password should not be same as any of last 5 passwords.</li>
          </ul>
       </span><br/>
     </div>
  </form>

  <loading-anim *ngIf="saving"></loading-anim>
</div>
