
@import '../../../../assets/styles/colors.scss';


body {
  background-image: url("../../../../assets/images/login_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*-----------------login Styles--------------------*/
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #fff !important;
}

.message-panel {
  background: #FFF;
  border-radius: 0 0 8px 8px;
  left: 50%;
  padding: 20px;
  position: absolute;
  transform: translate(-50%, 0);
  width: 500px;

  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 3px 0px 3px #666;

  h3 {
    color: $orange-primary;
    margin: 0;
    text-align: center;
  }
}

.login-panel {
  background: #fff;
  border: solid 1px #d3d3d3;
  border-radius: 8px;
  left: 50%;
  padding: 20px;
  position: absolute;
  top: 52.5%;
  transform: translate(-50%, -50%);
  width: 500px;

  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 3px 0px 3px #666;

  h2 {
    color: #e04a00;
    font-size: 2em;
    margin: 0px 0px 20px 0px;
  }

  a {
    color: #4585f7;
    border-bottom: 1px solid;
  }

  .form-control {
    height: 40px !important;
  }
}

.otp-panel {
  background: #fff;
  border: solid 1px #d3d3d3;
  border-radius: 8px;
  left: 50%;
  padding: 20px;
  position: absolute;
  top: 52.5%;
  transform: translate(-50%, -50%);
  width: 500px;

  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 3px 0px 3px #666;

  &.timed-out {

    h4 {
      color: #ff0400;
    }
  }

  h2 {
    color: #e04a00;
    font-size: 2em;
    margin: 0px 0px 10px 0px;
  }

  a {
    color: #4585f7;
    border-bottom: 1px solid;
    margin-left: 10px;
  }

  input {
    display: inline-block;
  }

  label {
    display: inline-block;
    font-weight: normal;
  }

  form {

    > div {
      margin-bottom: 20px;
    }
  }

  .remaining-time {

    label:first-of-type {
      width: 150px;
    }

    label:last-of-type {
      font-weight: bold;
    }
  }

  .otp-input-panel {

    > label {
      width: 150px;
    }

    > input {
      width: 300px;
    }
  }

  .otp-resent {
    font-size: 12px;
    font-weight: bold;
  }
}

.page-wrapper .form-control {
  /*height: 32px;*/
  height: 28px;
}

placeholder {
  color: #ccc;
}

.reset-panel {
  width: 40%;
  padding: 15px 20px 10px;
  border: solid 1px #d3d3d3;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 3px 0px 3px #666;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.37);

  h2 {
    color: #e04a00;
    font-size: 2em;
    margin-top: 0px;
  }

  label {
    margin-bottom: 5px !important;
    font-size: 12px !important;
    font-weight: normal !important;
  }

  hr {
    margin-bottom: 30px;
    margin-top: 0px;
  }

  .row {
    padding: 2px 0
  }

  .col-md-4, .label-v-center {
    line-height: 31px;
  }
}

.form-control::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #ccc !important;
}

.form-control::-webkit-input-placeholder {
  color: #ccc !important;
}

.form-con .login-panel .form-control {
  padding: 0 10px
}

#SecurityQuestion .k-dropdown {
  width: 100%;
}

/*.form-control:focus{border: 2px solid #999;box-shadow: 0px 0px 0px;}*/
.form-group label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.data-label {
  font-size: 14px;
  /*margin-bottom: 15px;*/
  font-weight: normal !important;
}

.input-group .form-control {
  border-left: 0px;
}

.input-group-addon {
  background: #ff8a00; /*border: 2px solid #999;*/
  min-width: 50px;
  font-size: 18px;
  border-right: 0px;
  color: #fff;
}

.btn-orange {
  background: #ff8a00;
  color: #fff;
}

.btn-orange:hover, .btn-orange:active, .btn-orange:focus {
  background: #ff8a00;
  color: #fff;
  outline: none;
}

.btn-gray {
  background: #5b6571;
  color: #fff !important;
}

.btn-gray:hover, .btn-gray:active, .btn-gray:focus {
  background: #5b6571;
  color: #fff;
  outline: none;
}

.btn-lightgray {
  background: #a6a6a6;
  color: #fff;
}

.btn-lightgray:hover, .btn-lightgray:active, .btn-lightgray:focus {
  background: #a6a6a6;
  color: #fff;
  outline: none;
}

.btn-blue {
  background: #395486;
  color: #fff !important;
}

.btn-blue:hover, .btn-blue:active, .btn-blue:focus {
  background: #395486;
  color: #fff !important;
  outline: none;
}
.btn-default-custom-gray {
  background-color: #5b6571;
}
.btn-default-custom-gray:hover, .btn-default-custom-gray:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #5b6571;
  border: 1px solid #5b6571;
}

.btn-default-custom-green {
  background-color: #3aa03a;
}
.btn-default-custom-green:hover, .btn-default-custom-green:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #3aa03a;
  border: 1px solid #3aa03a;
}
.btn-default-custom-info {
  background-color: #089de3;
}
.btn-default-custom-info:hover, .btn-default-custom-info:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #089de3;
  border: 1px solid #089de3;
}
.btn-default-custom-red {
  background-color: #dd0303;
}
.btn-default-custom-red:hover, .btn-default-custom-red:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #dd0303;
  border: 1px solid #dd0303;
}
.btn-default-custom-orange {
  background-color: #ff8a00;
}
.btn-default-custom-orange:hover, .btn-default-custom-orange:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #ff8a00;
  border: 1px solid #ff8a00;
}
.btn-default-custom{
  margin-right: 20px;
  border-radius: 0px;
  border: 0px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  height: 35px;
  border-radius: 0px;
  padding: 8px 20px 10px;
  cursor: pointer;
  text-transform: capitalize;
}

.mr-1{
  margin-right: 10px;
}