@import "../../../../../../assets/styles/colors.scss";
@import "../../../../../../assets/styles/mixins.scss";

.search-panel {
  border-bottom: 1px inset #ccc;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 5px;

  > form {
    > div {
      display: inline-block;
      height: 75px;
      margin-right: 10px;
      vertical-align: top;

      > div {
        display: inline-block;
        margin-right: 10px;
      }

      label {
        display: block;
        color: #222;
        text-align: left;
      }

      .date-range-picker {
        input {
          width: 100px;
        }
      }

      .input-bin {
        width: 90px;
      }

      .input-pan {
        width: 50px;
      }
    }

    .controls-panel {
      float: right;
      font-weight: bold;
      text-align: right;
      margin: 8px 0 0;

      button {
        margin-top: 10px;
      }
    }

    .svc-id-panel {
      width: 300px;

      .spinner {
        margin: 0;
      }
    }

    .fi-id-panel {
      width: 185px;
    }

    .search-whole-day {
      padding: 3px 0;

      label,
      input {
        display: inline-block;
        vertical-align: middle;
      }

      label {
        margin: 0 10px 0 0;
      }

      input {
        height: 20px;
        width: 20px;
      }
    }
  }
}

.search-params-panel {
  background-color: $col-header-bg;
  clear: both;
  color: #fff;
  overflow: hidden;
  padding: 7px;

  //   @include linear-gradient(to bottom, $blue-primary, $col-header-bg);

  //   > button {
  //     color: #000;
  //     float: right;
  //     margin: 10px 10px 10px 0;
  //   }

  ul {
    display: inline-block;
    margin-right: 20px;

    li {
      display: inline-block;
      margin-right: 20px;

      label {
        margin: 0 0 2px 0;

        &:first-of-type {
          color: #eee;
          display: block;
          font-size: 12px;
          text-transform: uppercase;
        }

        &:last-of-type {
          display: block;
          font-weight: bold;
        }
      }
    }
  }

  .file-info-toggle-panel {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
  }
}
.btn-default-custom-dark-blue {
  background-color: #024b94;
}
.btn-default-custom-dark-blue:hover,
.btn-default-custom-dark-blue:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #024b94 !important;
  border: 1px solid #024b94;
}
.btn-default-custom-green {
  background-color: #3aa03a;
}
.btn-default-custom-green:hover,
.btn-default-custom-green:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #3aa03a !important;
  border: 1px solid #3aa03a;
}
.btn-default-custom-info {
  background-color: #089de3;
}
.btn-default-custom-info:hover,
.btn-default-custom-info:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #089de3;
  border: 1px solid #089de3;
}
.btn-default-custom-red {
  background-color: #dd0303;
}
.btn-default-custom-red:hover,
.btn-default-custom-red:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #dd0303;
  border: 1px solid #dd0303;
}
.btn-default-custom-grey-light {
  background-color: #d3d3d3;
}
.btn-default-custom-grey-light:hover,
.btn-default-custom-grey-light:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #d3d3d3 !important;
  border: 1px solid #d3d3d3;
}
.btn-default-custom {
  margin-right: 0px;
  border-radius: 0px;
  border: 0px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  height: 35px;
  border-radius: 0px;
  padding: 8px 20px 10px;
  cursor: pointer;
  text-transform: capitalize;
}
::ng-deep .mat-slide-toggle-bar {
  background-color: grey;
}
.red {
  color: red;
}

.green {
  color: green;
}
.marg-left-5 {
  margin-left: 5px;
}
.check-user-nessage {
  height: 20px;
  width: 250px;
}
.grid-header .title {
  color: #fff;
  margin: 12px 10px;
}
header.header {
  background-color: #ff8a00 !important;
  min-height: 39px !important;
}
.width-100 {
  width: 100%;
}
.hieght-34 {
  height: 34px;
}

.dropdown-list {
  width: 300px !important;
}
.multiselect-dropdown .selected-item {
  font-size: 10px !important;
  max-width: 234px;
  overflow: hidden;
  height: 20px;
}
.multiselect-dropdown .multiselect-item-checkbox div::before {
  border-radius: 100% !important;
}
.page-wrapper .form-control {
  height: 35px;
}
