#header, #footer, #leftbar, #toolbar, #breadcrumbs, .related-links, .section-search--secondary, p.noscript, footer.footer, a.logo, a.header__logo, .btn-group, .breadcrumbs  {
    display: none;
}
div.col__inner{
	display:none;
}
html {
    overflow-y: visible;
}
body {
    overflow: visible;
}
article {
    overflow-y: visible;
	display:block;
	position:relative;
}
section.section_content {
	border-bottom: none;
}
@page { 
    /* this affects the margin in the printer settings */ 
       size: auto;   /* auto is the initial value */ 
    margin: 0mm 0mm 0mm 0mm
}

