<header class="container-fluid app-header clearfix">
  <div class="row">
    <div class="col-sm-3 col-md-2 col-xs-3">
      <img src="/assets/images/Logo-CPS.png" alt="LOGO" class="logo-img"/>
    </div>
    
    <div class="col-sm-5 col-md-6 col-xs-5">
      <ul class="main-menu">
        <li>
          <a routerLink="/dashboard" [ngClass]="{'selected': currentUrl.indexOf('/dashboard')>=0}">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a [ngClass]="{'selected': currentUrl.indexOf(productsRouteBase)>=0}">
            <i class="fa fa-product-hunt" aria-hidden="true"></i>
            <p>Products</p>
          </a>
          <ul *ngIf="navItems && navItems.products && navItems.products.length">
            <li *ngFor="let product of navItems.products">
              <a [routerLink]="product.url">{{product.text}}</a>
            </li>
          </ul>
        </li>
        <li *ngIf="userContext.isSysAdmin">
          <a [ngClass]="{'selected': currentUrl.indexOf(adminRouteBase)>=0}">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <p>Global Admin</p>
          </a>
          <ul *ngIf="navItems && navItems.admin && navItems.admin.length">
            <li *ngFor="let admin of navItems.admin">
              <a [routerLink]="admin.url">{{admin.text}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-sm-4 col-md-4 col-xs-4 text-right" *ngIf="userContext && userContext.username">
      <ul class='welcome-menu'>
        <li>
          <session-timer></session-timer>
        </li>
        <li>            
          <a  class="tooltip_80_bottom" href="../../../../../assets/styles/webhelp/GUID-EBCDA336-52EF-421B-BBB4-91DAD8F94086.html" target="_blank"> 
            <i class="fa fa-question-circle" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a>
            Welcome {{ firstName }} {{ lastName }} <i class="fa fa-caret-down" aria-hidden="true"></i>
          </a>
          <ul>
            <li><a routerLink="/profile"><i class="fa fa-user" aria-hidden="true"></i> User Profile </a></li>
          </ul>
          <span class="last-login" *ngIf="lastLogin">Last Login:&nbsp;{{lastLogin | date : 'medium'}}</span>
        </li>
        <li><a routerLink="/logoff" title='signout' class="tooltip_80_bottom"><i class="fa fa-power-off"
                                                                                 aria-hidden="true"></i></a></li>
        
      </ul>
    </div>
  </div>
</header>
<div class="mt-85"></div>
