
@import '../../../../../../assets/styles/colors';

.header-session-timer {
  display: inline-block;
  position: relative;

  label {
    display: inline-block;
    margin: 0 0 5px 0;
  }

  span {
    font-weight: bold;

    &:first-of-type::after {
      content: ":";
    }
  }

  .session-extend-panel {
    background: $blue-primary;
    border: 1px solid $orange-primary;
    border-radius: 8px;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 100%;
    transform: translate(-50%, 0);

    .up-triangle {
      border-bottom: 8px solid $orange-primary;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      height: 0;
      left: 50%;
      position: absolute;
      top:-9px;
      transform: translate(-50%, 0);
      width: 0;
    }

    button {
      background: $blue-primary;
      white-space: nowrap;
    }
  }
}
