<div class="module-nav pull-left" [ngClass]="moduleNavClasses" *ngIf="config && config.title">
  <div class="nav-container">
    <ul class="nav-items">
      <li class="product-home">
        <a routerLink="/{{config.value}}">
          <i class="fa fa-credit-card-alt fa-lg" aria-hidden="true" [title]="config.title"></i>
          {{navCollapsed ? '' : config.title}}
          <module-nav-item-tooltip [text]="config.title" *ngIf="navCollapsed"></module-nav-item-tooltip>
        </a>
      </li>

      <module-nav-item
        *ngFor="let item of config.items"
        [item]="item"
        [isCollapsed]="navCollapsed">
      </module-nav-item>
    </ul>
  </div>

  <div class="vertical-title-panel" *ngIf="navCollapsed">
    <i class="fa fa-angle-double-up"></i>
    <p>{{config.title}}</p>
  </div>

  <div class="nav-toggle">
    <button title="Collapse" (click)="toggleNavCollapse($event)">
      <i class="fa" [ngClass]="toggleBtnIconClasses" aria-hidden="true"></i>
    </button>
  </div>
</div>

<div class="module-nav pull-left" [ngClass]="moduleNavClasses" *ngIf="!config || !config.title">
    <loading-anim></loading-anim>
</div>

