<div class="fi-onboarding col-md-12 col-lg-12 col-sm-12" contentHeight=".main-wrapper">
  <div class="grid-header">
    <div class="controls" *ngIf="!loading">
    </div>

    <h4 class="title">{{aProduct.productName}} - Service Activity</h4>
  </div>

  <div class="search-panel">
    <form [formGroup]="searchForm" (ngSubmit)="onSearchFormSubmit($event)" *ngIf="searchForm">
      <div class="controls-panel">
        <button type="submit" class="btn btn-default-custom-dark-blue btn-default-custom">
          <i class="fa fa-search"></i>
          Search
        </button>
        <!-- class="btn btn-default-custom-green btn-default-custom" -->
        <button type="button" class="btn btn-default-custom-green btn-default-custom" (click)="onFormReset()">
          <i class="fa fa-recycle"></i>
          Reset
        </button>
      </div>

      <!--Always visible-->
      <div class="svc-id-panel">
        <label class="label">Service Instance ID <span style="color:Red;">*</span></label>
        <!-- <select class="form-control" formControlName="serviceId" *ngIf="!loadingSIDs">
          <option value="" selected="selected">SELECT</option>
          <option *ngFor="let SI of svcInstances"
                  [value]="SI.serviceId"
                  (change)="onTimeChange('start')">
            {{SI.serviceId}}
          </option>
        </select> -->
        <ng-multiselect-dropdown
          *ngIf="!loadingSIDs"
          [placeholder]="'Select'"
          [data]="dropdownList"
          formControlName="serviceId"
          (onSelect)="onTimeChange('start')"
          [settings]="dropdownSettings">
        </ng-multiselect-dropdown>
        <loading-anim *ngIf="loadingSIDs"></loading-anim>
      </div>

      <div class="search-date-panel" *ngIf="searchType === 0">
        <div>
          <label class="label" >Search Date <span style="color:Red;">*</span></label>
          <date-picker formControlName="startDate" 
                       (onDateChanged)="onDateChange($event)">
          </date-picker>
        </div>
      </div>

      <div class="time-range-panel" >
        <div>
          <label class="label">Start Time <span style="color:Red;">*</span></label>
          <select formControlName="startTime" class="form-control"
                  (change)="onTimeChange('start')">
            <option value="" selected="selected">SELECT</option>
            <option *ngFor="let kvp of startTimes"
                    [value]="kvp.key">
              {{kvp.value}}
            </option>
          </select>
        </div>

        <div>
          <label class="label">End Time <span style="color:Red;">*</span></label>
          <select formControlName="endTime" class="form-control"
                  (change)="onTimeChange('end')">
            <option value="" selected="selected">SELECT</option>
            <option *ngFor="let kvp of endTimes"
                    [value]="kvp.key">
              {{kvp.value}}
            </option>
          </select>
        </div>
      </div>

       <!-- <div class="bin-pan-panel">
        <div>
          <label>BIN</label>
          <input class="input-bin" formControlName="bin" maxlength="9" (change)="onBinChange('bin')"/>
        </div>

        <div>
          <label>PAN (Last 4)</label>
          <input class="input-pan" formControlName="pan" maxlength="4" (change)="onPanChange('pan')"/>
        </div>
      </div>   -->
    </form>
  </div>

  <div class="search-params-panel" *ngIf="items.length || lastSearchParams">
    <table style="width: 100%">
      <tr>
   
      <td align="left">

         
      </td>
      <td>    
          <table align="right">
          <tr>  
     <td  align="right">
        <form *ngIf="items.length">
          <filter-box
          [value]="filterText" 
          (onClear)="RefreshFilterboxGrid(datatable)"
          (onChange)="onGridFilter($event,datatable)"
          placeholder="Filter Results"
        ></filter-box>
        </form>    
      </td>
   <td align="left">         
    <button *ngIf="items.length" (click)="datatable.exportCSV()" class="btn btn-default btn-default-custom btn-default-custom-green marg-left-5 default-boot">
        <i class="fa fa-file-excel-o"></i>
        Export
      </button>
  </td>
</tr>
</table>
</td>
</tr>
</table>    
  </div>
  <div #TransactionGrid style="height: 100%;">
      <p-table [value]="TransactionList" [columns]="cols" #datatable dataKey="id" (sortFunction)="customSort($event)" [customSort]="true" [responsive]="true" [resizableColumns]="true" scrollHeight="70vh" [scrollable]="true" exportFilename="Transaction"  [paginator]="true" [rows]="17" >
        <ng-template pTemplate="colgroup" let-tableColumns> 
          <colgroup> 
            <col *ngFor="let col of tableColumns" > 
          </colgroup> 
        </ng-template> 
          <ng-template pTemplate="header" let-columns>
              <tr>
                  <th pResizableColumn *ngFor="let col of columns" [pSortableColumn]="col.field">
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                      <i class="pi pi-bars br-align"></i>
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-TransactionList >
              <tr (click)="_onRowSelected({data: TransactionList})">
                  <td class="ui-resizable-column">{{TransactionList.id}}</td>
                  <td class="ui-resizable-column">{{TransactionList.text}}</td>
                  <td class="ui-resizable-column">{{TransactionList.timeStamp}}</td>
                  <td class="ui-resizable-column">{{TransactionList.fileName}}</td>
              </tr>
          </ng-template>
      </p-table> 
  </div>

  <!-- FORMATTED MODAL -->
  <local-modal #formattedModal
               [target]="TransactionGrid"
               height="80%"
               width="60%">
    <header>
      <h3 *ngIf="formattedValues.length">{{formattedValues[0]}}</h3>
    </header>
    <main>
      <div class="formatted-value" *ngIf="formattedValue">
        <p>{{formattedValue}}</p>
      </div>
      <div  class="formatted-values" *ngIf="formattedValues.length">
        <ul>
          <li *ngFor="let val of formattedValues">
            {{val}}
          </li>
        </ul>
      </div>
    </main>

    <footer class="form-controls-row">
      <button (click)="onFormattedModalCloseClick()">Close</button>
    </footer>
  </local-modal>
</div>

