.service-instance {
  overflow: hidden;
}
ag-grid-angular#detailGrid {
  overflow-y: scroll;
}
.btn-default-custom-dark-blue {
background-color: #024b94;
}
.btn-default-custom-dark-blue:hover, .btn-default-custom-dark-blue:focus {
background-color: #fff;
box-shadow: 0 0 0 0 #fff;
color: #024b94;
border: 1px solid #024b94;
}
.btn-default-custom-green {
background-color: #3aa03a;
}
.btn-default-custom-green:hover, .btn-default-custom-green:focus {
background-color: #fff;
box-shadow: 0 0 0 0 #fff;
color: #3aa03a;
border: 1px solid #3aa03a;
}
.btn-default-custom-info {
background-color:  #089de3;
}
.btn-default-custom-info:hover, .btn-default-custom-info:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #089de3;
  border: 1px solid #089de3;
}
.btn-default-custom-red {
background-color: #dd0303;
}
.btn-default-custom-red:hover, .btn-default-custom-red:focus {
background-color: #fff;
box-shadow: 0 0 0 0 #fff;
color: #dd0303;
border: 1px solid #dd0303;
}
.btn-default-custom-orange {
  background-color: #ff8a00;
}

.btn-default-custom-orange:hover, .btn-default-custom-orange:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #ff8a00;
  border: 1px solid #ff8a00;
}
.btn-default-custom{
margin-right: 0px;
border-radius: 0px;
border: 0px;
color: #fff;
font-size: 14px;
font-weight: 600;
height: 35px;
border-radius: 0px;
padding: 8px 20px 10px;
cursor: pointer;
text-transform: capitalize;
}
::ng-deep .mat-slide-toggle-bar {
    background-color: grey
}
.red {
    color: red; 
}

.green {
    color: green;
}
.marg-left-5{
margin-left: 5px
}
.check-user-nessage{
height: 20px;
width: 250px
}
.grid-header .title {
color: #FFF;
margin: 12px 10px;
}
header.header {
background-color: #ff8a00 !important;
min-height: 39px !important;
}
.width-100{
width: 100%;
}
.hieght-34{
height: 34px;
}
  
ag-grid-angular#detailGrid {
    overflow-y: scroll;
}
.pr-35{
  padding-right: 35px;
}
/* .detail-table table, .detail-table th, .detail-table td {
  border: 1px solid black;
  border-collapse: collapse;
}
.detail-table th, .detail-table td {
  padding: 5px;
  text-align: left;
} */

.detail-table th {
  color: #3661a1;
  white-space: nowrap;
}
.detail-table th, .detail-table td {
  padding: 5px;
  text-align: left;
  white-space: nowrap;
}
.fa-START-circle:before {
    content: "\f144";
}
.fa-STOP-circle:before {
  content: "\f28d";
}
.fa-icone{
font-size: 20px;
margin-top: 5px;
}

.fa-icone.imgstop{
background-image: url('../../../../../../assets/images/stop.png');
width: 19px;
height: 19px;
background-size: 100%;
background-position: center;
background-repeat: no-repeat;
}

.fa-icone.imgplay{
background-image: url('../../../../../../assets/images/play.png');
width: 22px;
height: 20px;
background-size: 100%;
background-position: center;
background-repeat: no-repeat;
}

.svcinstance-profile {
  background-color: #fff;
  overflow: hidden;
  padding: 0 20px;
}
.svcinstance-profile h4 {
  color: #ee700a;
  font-weight: bold;
  white-space: nowrap;
}
.svcinstance-profile section {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  height: 380px;
  overflow: hidden;
}
.svcinstance-profile section header {
  background-color: #eee;
  padding: 5px;
  position: relative;
}
.svcinstance-profile section header label {
  color:  #ee700a;
  font-size: 18px;
  margin: 5px 10px;
}
.svcinstance-profile section header .controls {
  position: absolute;
  right: 5px;
  top: 5px;
}
.svcinstance-profile section header .controls button {
  display: inline-block;
}
.svcinstance-profile section main {
  padding: 20px;
}
.svcinstance-profile section main .row {
  margin-bottom: 10px;
}
.svcinstance-profile section main .row select {
  height: 26px;
  width: 100%;
}
.svcinstance-profile section main .controls {
  padding-bottom: 10px;
  text-align: right;
}
