<div
  class="service-instance col-md-12 col-lg-12 col-sm-12"
  contentHeight=".main-wrapper"
>
  <div class="grid-header">
    <div class="controls">
      <table>
        <tr>
          <td>
            <form [formGroup]="ResetFilterboxForm">
              <filter-box
                (onClear)="RefreshFilterboxGrid(datatable)"
                (onChange)="onSearch($event, datatable)"
                placeholder="Search"
              ></filter-box>
            </form>
          </td>
          <td>
            <button
              (click)="onServiceInstancecreateClick($event)"
              class="btn btn-default btn-default-custom btn-default-custom-info default-boot"
            >
              <i class="fa fa-plus"></i>
              New Service Instance
            </button>
          </td>
          <td></td>
          <td>
            <button
              *ngIf="instances.length"
              (click)="onExportClick(datatable)"
              class="btn btn-default btn-default-custom btn-default-custom-green marg-left-5 default-boot"
            >
              <i class="fa fa-file-excel-o"></i>
              Export
            </button>
          </td>
        </tr>
      </table>
    </div>
    <h4 class="title">{{ Heading }} - Service Instance</h4>
  </div>

  <div #ConfigItemList>
    <p-table
      [value]="instances"
      [columns]="cols"
      #datatable
      dataKey="SviID"
      [responsive]="true"
      [resizableColumns]="true"
      scrollHeight="70vh"
      [scrollable]="true"
      exportFilename="serviceinstance"
      [paginator]="true"
      [rows]="35"
    >
      <ng-template pTemplate="colgroup" let-tableColumns>
        <colgroup>
          <col *ngFor="let col of tableColumns" />
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            pResizableColumn
            *ngFor="let col of columns"
            [pSortableColumn]="col.field"
          >
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
            <i class="pi pi-bars br-align"></i>
          </th>
          <th pResizableColumn class="edit-btn"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-instances>
        <tr>
          <td class="ui-resizable-column">
            <a
              (click)="onExpandView({ data: instances })"
              style="cursor:pointer;"
            >
              <i class="pi pi-plus"></i>
            </a>
          </td>
          <td class="ui-resizable-column">
            <a
              (click)="onRestartClick({ data: instances })"
              style="cursor:pointer;"
            >
              <i
                class="fa-icone fa imgstop"
                *ngIf="instances.Command == 'START'"
                title=" Stop the Service Instance"
              ></i>
              <i
                class="fa-icone fa imgplay"
                *ngIf="instances.Command == 'STOP'"
                title="Start the Service Instance"
              ></i>
            </a>
          </td>
          <td class="ui-resizable-column">{{ instances.ServiceHost }}</td>
          <td class="ui-resizable-column">{{ instances.ServiceInstanceID }}</td>
          <td class="ui-resizable-column">{{ instances.Status }}</td>
          <td class="ui-resizable-column">{{ instances.Command }}</td>
          <td class="ui-resizable-column">{{ instances.ReloadAppFile }}</td>
          <td class="ui-resizable-column">{{ instances.TcpChannelName }}</td>
          <td class="ui-resizable-column">{{ instances.TcpServerIP }}</td>
          <td class="ui-resizable-column">{{ instances.TcpPort }}</td>
          <td class="ui-resizable-column">{{ instances.ServiceVersion }}</td>
          <td class="edit-btn ui-resizable-column">
            <i
              class="pi pi-pencil"
              (click)="onServiceInstanceEditClick({ data: instances })"
            ></i>
            <i
              class="pi pi-trash"
              (click)="onServiceInstanceDeleteClick({ data: instances })"
            ></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!--  
   <div contentHeight=".main-wrapper" (resize)="onGridWrapperResize($event)">
      <ag-grid #grid [loading]="loading"
      [config]="gridOptions">
      </ag-grid>
   </div> -->

  <!-- Service Instance MODAL -->
  <local-modal
    #serviceInstanceModal
    [target]="ConfigItemList"
    height="85%"
    width="85%"
  >
    <header *ngIf="ServiceInstanceEditing" class="header">
      <h4 *ngIf="!ServiceInstanceEditing.SviID">Add Service Instance</h4>
      <h4 *ngIf="ServiceInstanceEditing.SviID">Edit Service Instance</h4>
    </header>
    <main *ngIf="serviceInstanceForm">
      <form
        [formGroup]="serviceInstanceForm"
        (ngSubmit)="onServiceInstanceSaveClick()"
      >
        <table class="table table-responsive ">
          <tr>
            <td style="width: auto">
              Container Name: <span style="color:Red;">*</span>
            </td>
            <td>
              <select
                formControlName="ServiceHost"
                class="form-control"
                *ngIf="!loadingServicehostID"
                (change)="SHChange($event)"
                [(ngModel)]="selectedServiceHostID"
                inputValidate
                errorMessage="Installation Status is required"
              >
                <option value="" selected="selected">Select</option>
                <option *ngFor="let SH of ServiceHostList" [value]="SH.HscID">
                  {{ SH.Name }}
                </option>
              </select>

              <loading-anim *ngIf="loadingServicehostID"></loading-anim>
            </td>
          </tr>
          <tr>
            <td style="width: auto">Description</td>
            <td>
              <input
                type="text"
                maxlength="500"
                class="form-control"
                placeholder="Service Description"
                formControlName="ServiceDescription"
              />
            </td>
          </tr>
          <tr>
            <td style="width: auto">Product Name</td>
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="Product"
                readonly="true"
                formControlName="Product"
              />
            </td>
          </tr>
          <tr>
            <td *ngIf="isCardMaintainanceProduct()" style="width: auto">
              Tcp Channel Name <span style="color:Red;">*</span>
            </td>
            <td *ngIf="!isCardMaintainanceProduct()" style="width: auto">
              Tcp Channel Name
            </td>
            <td *ngIf="isCardMaintainanceProduct()">
              <input
                type="text"
                class="form-control"
                placeholder="Tcp Channel Name"
                formControlName="TcpChannelName"
                maxlength="50"
                (keypress)="IV.alphaNumericOnly($event, false)"
                (focusout)="restricttoUpperCase($event)"
                required
                inputValidate
                errorMessage="Tcp Channel Name is required"
              />
            </td>
            <td *ngIf="!isCardMaintainanceProduct()">
              <input
                type="text"
                class="form-control"
                placeholder="Tcp Channel Name"
                formControlName="TcpChannelName"
                maxlength="50"
                (keypress)="IV.alphaNumericOnly($event, false)"
                (focusout)="restricttoUpperCase($event)"
              />
            </td>
          </tr>
          <tr>
            <td *ngIf="isCardMaintainanceProduct()" style="width: auto">
              Tcp Server IP <span style="color:Red;">*</span>
            </td>
            <td *ngIf="!isCardMaintainanceProduct()" style="width: auto">
              Tcp Server IP
            </td>
            <td *ngIf="isCardMaintainanceProduct()">
              <input
                type="text"
                class="form-control"
                maxlength="20"
                placeholder="Tcp Server IP"
                formControlName="TcpServerIP"
                (keyup)="restrictToIPAddress($event)"
                required
                inputValidate
                errorMessage="Tcp Server IP is required"
              />
              <div *ngIf="invalidIPAddress">
                <span style="color: rgb(180, 12, 12);"
                  >Please enter valid IP address</span
                >
              </div>
            </td>
            <td *ngIf="!isCardMaintainanceProduct()">
              <input
                type="text"
                class="form-control"
                maxlength="20"
                placeholder="Tcp Server IP"
                formControlName="TcpServerIP"
                (keyup)="restrictToIPAddress($event)"
                (focusout)="isvalueExists($event)"
              />
              <div *ngIf="invalidIPAddress">
                <span style="color: rgb(180, 12, 12);"
                  >Please enter valid IP address</span
                >
              </div>
            </td>
          </tr>
          <tr>
            <td *ngIf="isCardMaintainanceProduct()" style="width: auto">
              Tcp Port <span style="color:Red;">*</span>
            </td>
            <td *ngIf="!isCardMaintainanceProduct()" style="width: auto">
              Tcp Port
            </td>
            <td *ngIf="isCardMaintainanceProduct()">
              <input
                type="text"
                class="form-control"
                placeholder="Tcp Port"
                maxlength="5"
                formControlName="TcpPort"
                (keypress)="IV.numericOnly($event)"
                (focusout)="populateContainerName($event)"
                required
                inputValidate
                errorMessage="Tcp Port is required"
              />
            </td>
            <td *ngIf="!isCardMaintainanceProduct()">
              <input
                type="text"
                class="form-control"
                placeholder="Tcp Port"
                maxlength="5"
                formControlName="TcpPort"
                (keypress)="IV.numericOnly($event)"
                (focusout)="populateContainerName($event)"
              />
            </td>
          </tr>
          <tr>
            <td style="width: auto">
              Service Instance Name <span style="color:Red;">*</span>
            </td>
            <td>
              <input
                type="text"
                maxlength="125"
                class="form-control"
                (keypress)="
                  IV.alphaNumeric_AndDistinctCharactersOnly($event, '_')
                "
                (keyup)="UniqueServiceInstanceName($event)"
                (focusout)="restricttoUpperCase($event)"
                placeholder="Service Instance Name"
                inputValidate
                errorMessage="Service Instance Name is required"
                formControlName="ServiceInstanceID"
              />
              <div *ngIf="InvalidExistingInstanceName">
                <span style="color: rgb(180, 12, 12);"
                  >Please enter unique ServiceInstance name for the
                  product</span
                >
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: auto">
              Installation Status <span style="color:Red;">*</span>
            </td>
            <td>
              <select
                formControlName="Status"
                class="form-control"
                *ngIf="!loadingStatusID"
                (change)="StatusChange($event)"
                [(ngModel)]="selectedStatus"
                inputValidate
                errorMessage="Installation Status is required"
              >
                <option value="" selected="selected">Select</option>
                <option
                  *ngFor="let status of StatusList"
                  [value]="status.DictID"
                >
                  {{ status.DictValue }}
                </option>
              </select>

              <loading-anim *ngIf="loadingStatusID"></loading-anim>
            </td>
          </tr>
          <tr>
            <td style="width: auto">Command</td>
            <td>
              <input
                type="text"
                maxlength="20"
                class="form-control"
                placeholder="Command"
                readonly="true"
                formControlName="Command"
              />
            </td>
          </tr>
          <tr>
            <td style="width: auto">
              Reload App File: <span style="color:Red;">*</span>
            </td>
            <td>
              <input
                type="checkbox"
                class="form-control"
                class="large-checkbox"
                formControlName="ReloadAppFile"
                inputValidate
                (change)="ReloadappChangeEvent($event)"
                errorMessage="Reload App File is required"
              />
            </td>
          </tr>
          <tr>
            <td style="width: auto">Application Module:</td>
            <td>
              <select
                formControlName="ApplicationModule"
                class="form-control"
                *ngIf="!loadingApplicationModuleID"
                (change)="ApplicationModuleChange($event)"
                [(ngModel)]="selectedApplicationModule"
              >
                <option value="" selected="selected">Select</option>
                <option
                  *ngFor="let appMod of AppModuleList"
                  [value]="appMod.DictID"
                >
                  {{ appMod.DictValue }}
                </option>
              </select>
            </td>
          </tr>
          <tr>
            <td style="width: auto">Messaging Transform Type:</td>
            <td>
              <select
                formControlName="MessagingTransformType"
                class="form-control"
                *ngIf="!loadingMessagingTransformTypeID"
                (change)="MessagingTransformTypeChange($event)"
                [(ngModel)]="selectedMessagingTransformType"
              >
                <option value="" selected="selected">Select</option>
                <option
                  *ngFor="let msgtrans of MessageTransformList"
                  [value]="msgtrans.DictID"
                >
                  {{ msgtrans.DictValue }}
                </option>
              </select>
            </td>
          </tr>
          <tr>
            <td style="width: auto">Messaging Setting File:</td>
            <td>
              <!-- <div class="row"> 
          <div class ="col-sm-10"> -->
              <select
                formControlName="MessagingSettingFile"
                class="form-control"
                *ngIf="!loadingMsgSettingFileID"
                (change)="MsgSettingFileChange($event)"
                [(ngModel)]="selectedMsgSettingFile"
              >
                <option value="" selected="selected">Select</option>
                <option
                  *ngFor="let msgSetting of MessageSettingList"
                  [value]="msgSetting.DictID"
                >
                  {{ msgSetting.DictValue }}
                </option>
              </select>
              <!-- </div>
         <div class="col-sm-2" >
          <button type="button" (click)="retrieveFileContent()" class="btn-sm btn-orange btn-default-custom-orange btn-default-custom width-100 hieght-34 p-0"><span class="fa fa-plus plus-icone"></span></button>
        </div> 
      </div>-->
              <!-- <div *ngIf="invalidConfigFilePath">
          <span style="color: rgb(180, 12, 12);">Please enter valid directory path</span>btn-sm btn-orange btn-default-custom btn-default-custom-info"
      </div> -->
            </td>
          </tr>
          <tr>
            <td style="width: auto">Iso Specfication</td>
            <td>
              <select
                formControlName="IsoSpecfication"
                class="form-control"
                *ngIf="!loadingIsoSpecficationID"
                (change)="IsoChange($event)"
                [(ngModel)]="selectedIsoID"
              >
                <option value="" selected="selected">Select</option>
                <option
                  *ngFor="let isoSpec of IsoSpecificationList"
                  [value]="isoSpec.DictID"
                >
                  {{ isoSpec.DictValue }}
                </option>
              </select>
              <!-- <loading-anim *ngIf="loadingContainerID"></loading-anim>  -->
            </td>
          </tr>
          <tr>
            <td style="width: auto">Service Channel Name</td>
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="Service Channel Name"
                formControlName="ServiceChannelName"
                (keypress)="IV.alphaNumericOnly($event, false)"
                (focusout)="restricttoUpperCase($event)"
              />
            </td>
          </tr>
          <tr>
            <td style="width: auto">Service URI</td>
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="Service URI"
                (keypress)="restricttoURL($event)"
                formControlName="ServiceURI"
              />
              <div *ngIf="invalidURL">
                <span style="color: rgb(180, 12, 12);"
                  >Please enter valid URL</span
                >
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: auto">Service Contract Type</td>
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="Service Contract Type"
                formControlName="ServiceContractType"
                maxlength="500"
                (keypress)="
                  IV.alphaNumeric_AndDistinctCharactersOnly($event, '.')
                "
              />
            </td>
          </tr>
          <tr>
            <td style="width: auto">Service Type</td>
            <td>
              <select
                formControlName="ServiceChannelType"
                class="form-control"
                *ngIf="!loadingServiceChannelTypeID"
                (change)="ServiceChannelTypeChange($event)"
                [(ngModel)]="selectedServiceChannelType"
              >
                <option value="" selected="selected">Select</option>
                <option
                  *ngFor="let servicetype of ServiceChannelTypeList"
                  [value]="servicetype.DictID"
                >
                  {{ servicetype.DictValue }}
                </option>
              </select>
              <!-- <loading-anim *ngIf="loadingContainerID"></loading-anim>  -->
            </td>
            <!-- <td>
        <input type="text" class="form-control" placeholder="Service Type" formControlName="ServiceType"
          maxlength="500" (keypress)="IV.alphaNumeric_AndDistinctCharactersOnly($event,'.')" />
      </td> -->
          </tr>
          <tr>
            <td style="width: auto">Service Channel Name2</td>
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="Service Channel Name2"
                formControlName="ServiceChannelName2"
                maxlength="50"
                (keypress)="IV.alphaNumericOnly($event, false)"
                (focusout)="restricttoUpperCase($event)"
              />
            </td>
          </tr>
          <tr>
            <td style="width: auto">Service URI2</td>
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="Service URI2"
                formControlName="ServiceURI2"
                maxlength="500"
                (keypress)="restricttoURL($event)"
              />
              <div *ngIf="invalidURL2">
                <span style="color: rgb(180, 12, 12);"
                  >Please enter valid URL</span
                >
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: auto">Service Channel Name3</td>
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="Service Channel Name3"
                formControlName="ServiceChannelName3"
                maxlength="50"
                (keypress)="IV.alphaNumericOnly($event, false)"
                (focusout)="restricttoUpperCase($event)"
              />
            </td>
          </tr>
          <tr>
            <td style="width: auto">Service URI3</td>
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="Service URI3"
                formControlName="ServiceURI3"
                maxlength="500"
                (keypress)="restricttoURL($event)"
              />
              <div *ngIf="invalidURL3">
                <span style="color: rgb(180, 12, 12);"
                  >Please enter valid URL</span
                >
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: auto">Service Config Template</td>
            <td>
              <select
                formControlName="ServiceConfigTemplateId"
                class="form-control"
                *ngIf="!loadingContainerConfigID"
                (change)="CTChange($event)"
                [(ngModel)]="selectedServiceConfigTemplateID"
              >
                <option value="" selected="selected">Select</option>
                <option
                  *ngFor="let CT of ConfigTemplateList"
                  [value]="CT.CfgTplID"
                >
                  {{ CT.TemplateName }}
                </option>
              </select>
              <loading-anim *ngIf="loadingContainerConfigID"></loading-anim>
            </td>
          </tr>
          <tr>
            <td style="width: auto">Log Config Template</td>
            <td>
              <select
                formControlName="LogConfigTemplateId"
                class="form-control"
                *ngIf="!loadingContainerConfigID"
                (change)="CTLogChange($event)"
                [(ngModel)]="selectedLogConfigTemplateID"
              >
                <option value="" selected="selected">Select</option>
                <option
                  *ngFor="let CT of ConfigLogTemplateList"
                  [value]="CT.CfgTplID"
                >
                  {{ CT.TemplateName }}
                </option>
              </select>
              <loading-anim *ngIf="loadingContainerConfigID"></loading-anim>
            </td>
          </tr>
          <tr>
            <td style="width: auto">Log File Path</td>
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="Log File Path"
                formControlName="LogFilePath"
                (focusout)="restrictToDirectoryPath($event)"
              />
              <span style="color: darksalmon;">Provide full path</span>
              <div *ngIf="invalidLogFilePath">
                <span style="color: rgb(180, 12, 12);"
                  >Please enter valid directory path</span
                >
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: auto">Service Instance Version</td>
            <td>
              <input
                type="text"
                class="form-control"
                maxlength="15"
                placeholder="Service Version"
                formControlName="ServiceVersion"
                (keypress)="
                  IV.alphaNumeric_AndDistinctCharactersOnly($event, '.')
                "
              />
            </td>
          </tr>
          <tr *ngIf="isCardMaintainanceProduct()">
            <td style="width: auto">FI Serviced</td>
            <td>
              <!-- <select formControlName="FIName" class="form-control" *ngIf="!loadingFIDs" (change)="FIChange($event)" [(ngModel)]="selectedFIID" [attr.disabled]="isDisabled ? '' : null">
          <option value="">Select</option>
           <option *ngFor="let FI of fiList"
                  [value]="FI.FIID">
            {{FI.Name}}
          </option> 
        </select> -->
              <ng-multiselect-dropdown
                *ngIf="!loadingFIDs"
                [placeholder]="'Select'"
                [data]="dropdownList"
                [(ngModel)]="FiSelect"
                [ngModelOptions]="{ standalone: true }"
                [attr.disabled]="isDisabled ? '' : null"
                (onSelect)="FISelectedOne($event)"
                (onSelectAll)="FISelectedAll($event)"
                (onDeSelect)="FISelectedDeOne($event)"
                (onDeSelectAll)="FISelectedDeAll($event)"
                [settings]="FidropdownSettings"
              >
              </ng-multiselect-dropdown>
            </td>
          </tr>
        </table>
      </form>
    </main>

    <footer class="form-controls-row">
      <button
        (click)="onServiceInstanceSaveClick()"
        *ngIf="!saving"
        class="btn-sm btn-orange btn-default-custom btn-default-custom-info"
      >
        Save
      </button>
      <button
        (click)="onServiceInstanceCancelClick()"
        *ngIf="!saving"
        class="btn btn-sm btn-default btn-default-custom btn-default-custom-red default-boot"
      >
        Cancel
      </button>
      <button *ngIf="saving">
        <loading-anim></loading-anim>
      </button>
    </footer>
  </local-modal>

  <local-modal
    #rowDetailModal
    [target]="ConfigItemList"
    height="80%"
    width="80%"
  >
    <header class="header">
      <h4>Service Instance Additional Details</h4>
    </header>

    <main style="height: 100%;">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-lg-12 col-sm-12 detail-table">
          <table style="width: 100%;" *ngIf="instances.length > 0">
            <tr>
              <th>Container Name</th>
              <td>{{ instances[childindex].ServiceHost }}</td>
            </tr>
            <tr>
              <th>Service Instance Name</th>
              <td>{{ instances[childindex].ServiceInstanceID }}</td>
            </tr>
            <tr>
              <th>Description</th>
              <td>{{ instances[childindex].ServiceDescription }}</td>
            </tr>
            <tr>
              <th>Installation Staus</th>
              <td>{{ instances[childindex].Status }}</td>
            </tr>
            <tr>
              <th>Command</th>
              <td>{{ instances[childindex].Command }}</td>
            </tr>
            <tr>
              <th>Reload App File</th>
              <td>{{ instances[childindex].ReloadAppFile }}</td>
            </tr>
            <tr>
              <th>Application Module</th>
              <td>{{ instances[childindex].ApplicationModule }}</td>
            </tr>
            <tr>
              <th>Messaging Transform Type</th>
              <td>{{ instances[childindex].MessagingTransformType }}</td>
            </tr>
            <tr>
              <th>Messaging Setting File</th>
              <td>{{ instances[childindex].MessagingSettingFile }}</td>
            </tr>
            <tr>
              <th>Iso Specfication</th>
              <td>{{ instances[childindex].IsoSpecfication }}</td>
            </tr>
            <tr>
              <th>Tcp Channel Name</th>
              <td>{{ instances[childindex].TcpChannelName }}</td>
            </tr>
            <tr>
              <th>Tcp Server IP</th>
              <td>{{ instances[childindex].TcpServerIP }}</td>
            </tr>
            <tr>
              <th>Tcp Port</th>
              <td>{{ instances[childindex].TcpPort }}</td>
            </tr>
            <tr>
              <th>Service Channel Name</th>
              <td>{{ instances[childindex].ServiceChannelName }}</td>
            </tr>
            <tr>
              <th>Service URI</th>
              <td>{{ instances[childindex].ServiceURI }}</td>
            </tr>
            <tr>
              <th>Service Contract Type</th>
              <td>{{ instances[childindex].ServiceContractType }}</td>
            </tr>
            <tr>
              <th>Service Type</th>
              <td>{{ instances[childindex].ServiceType }}</td>
            </tr>
            <tr>
              <th>Service Channel Name2</th>
              <td>{{ instances[childindex].ServiceChannelName2 }}</td>
            </tr>
            <tr>
              <th>Service URI2</th>
              <td>{{ instances[childindex].ServiceURI2 }}</td>
            </tr>
            <tr>
              <th>Service Channel Name3</th>
              <td>{{ instances[childindex].ServiceChannelName3 }}</td>
            </tr>
            <tr>
              <th>Service URI3</th>
              <td>{{ instances[childindex].ServiceURI3 }}</td>
            </tr>
            <tr>
              <th>Service Config Template</th>
              <td>{{ instances[childindex].ServiceConfigTemplateId }}</td>
            </tr>
            <tr>
              <th>Log Config Template</th>
              <td>{{ instances[childindex].LogConfigTemplateId }}</td>
            </tr>
            <tr>
              <th>Service Instance Version</th>
              <td>{{ instances[childindex].ServiceVersion }}</td>
            </tr>
            <tr *ngIf="isCardMaintainanceProduct()">
              <th>FI Serviced</th>
              <td>
                <div
                  *ngIf="
                    FINamesCount === 1 && instances[childindex].FINames != null
                  "
                >
                  <li
                    *ngFor="let FIs of instances[childindex].FINames.split(';')"
                  >
                    {{ FIs }}
                  </li>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </main>
    <footer class="form-controls-row">
      <button
        class="btn btn-sm btn-default btn-default-custom btn-default-custom-red default-boot"
        (click)="onServiceInstanceDetailCloseClick()"
      >
        Close
      </button>
    </footer>
  </local-modal>

  <local-modal
    #configfileXmlModal
    [target]="ConfigItemList"
    height="85%"
    width="60%"
  >
    <header class="header">
      <h4>XML</h4>
    </header>
    <main style="overflow-y: scroll;">
      <form
        [formGroup]="configfileXmlForm"
        (ngSubmit)="onconfigfileXmlSaveClick()"
      >
        <!-- <pre><code [highlight]="configfileXml"></code></pre> -->
        <textarea formControlName="FileContent" class="textarea">{{
          configfileXml
        }}</textarea>
      </form>
    </main>
    <footer class="form-controls-row">
      <button
        (click)="onconfigfileXmlSaveClick()"
        *ngIf="!configfilexmlsaving"
        class="btn-sm btn-orange btn-default-custom btn-default-custom-info"
      >
        Save
      </button>
      <button
        (click)="configfileXmlModal.close()"
        *ngIf="!configfilexmlsaving"
        class="btn btn-sm btn-default btn-default-custom btn-default-custom-red default-boot"
      >
        Cancel
      </button>
      <button *ngIf="configfilexmlsaving">
        <loading-anim></loading-anim>
      </button>
    </footer>
  </local-modal>
</div>
