<div class="fi-onboarding col-md-12 col-lg-12 col-sm-12" contentHeight=".main-wrapper">
  <div class="grid-header">
    <div class="controls" *ngIf="!loading">
    </div>
    <h4 class="title" *ngIf="aProduct">{{aProduct.productName}} - Transaction Activity</h4>
  </div>
  <div class="search-panel">
    <form [formGroup]="searchForm" (ngSubmit)="onSearchFormSubmit($event)" *ngIf="searchForm">
      <div class="controls-panel">
        <button type="submit" class="btn btn-default-custom-dark-blue btn-default-custom">
          <i class="fa fa-search"></i>
          Search
        </button>
        <button type="button" class="btn btn-default-custom-green btn-default-custom" (click)="onFormReset()">
          <i class="fa fa-recycle"></i>
          Reset
        </button>
      </div>
      <div class="fi-id-panel">
        <label class="label">FI Name</label>
        <ng-multiselect-dropdown
                [placeholder]="'Select'"
                [data]="dropdownList"
                formControlName="fiId"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
        <loading-anim *ngIf="loadingFIDs"></loading-anim>
      </div>
      <div class="search-date-panel">
          <label class="label">From Date <span style="color:Red;">*</span></label>
          <date-picker formControlName="startDate" [showDefaultDate]="false"
                      (onDateChanged)="onDateChange($event)">
          </date-picker>
      </div>

      
      <div class="search-date-panel">
          <label class="label">To Date <span style="color:Red;">*</span></label>
          <date-picker formControlName="endDate" [showDefaultDate]="false"
                      (onDateChanged)="onDateChange($event)">
          </date-picker>
      </div>
      <!--Visible for Date Range-->
      <div class="bin-pan-panel">
        <label class="label">BIN</label>
        <input class="input-bin form-control" formControlName="bin" maxlength="9" />
      </div>
      <div class="time-range-panel">
        <label class="label">PAN (Last 4)</label>
        <input class="input-pan form-control" formControlName="pan" maxlength="4" />
      </div>
    </form>
  </div>

  <div class="search-params-panel header" *ngIf="items.length || lastSearchParams">
    <table style="width: 100%">
      <tr>
        <td align="left"></td>
        <td>
          <table align="right">
            <tr>
              <td align="right">
                <form *ngIf="items.length">
                  <filter-box
                  (onClear)="RefreshFilterboxGrid(datatable)"
                  (onChange)="onGridFilter($event,datatable)"
                  placeholder="Filter Results"
				  [value]="filterText"
                ></filter-box>
                </form>
              </td>
              <td align="left">
                <button *ngIf="items.length" (click)="datatable.exportCSV()" class="btn btn-default btn-default-custom btn-default-custom-green marg-left-5 default-boot">
                  <i class="fa fa-file-excel-o"></i>
                  Export
                </button>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <!-- <div contentHeight=".main-wrapper"
       (resize)="onGridWrapperResize($event)">
    <ag-grid #grid
             [config]="gridOptions">
    </ag-grid>
  </div> -->
  <div #TransactionGrid style="height: 100%;">
      <p-table [value]="TransactionList" [columns]="cols" #datatable (sortFunction)="customSort($event)" [customSort]="true" dataKey="RtpTxnID" [responsive]="true" [resizableColumns]="true" scrollHeight="70vh" [scrollable]="true" exportFilename="Transaction"  [paginator]="true" [rows]="17">
        <ng-template pTemplate="colgroup" let-tableColumns> 
          <colgroup> 
            <col *ngFor="let col of tableColumns" > 
          </colgroup> 
        </ng-template> 
          <ng-template pTemplate="header" let-columns>
              <tr>
                  <th pResizableColumn>
                    </th>
                <th pResizableColumn *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                    <i class="pi pi-bars br-align"></i>
                </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-TransactionList >
              <tr >
                  <td class="ui-resizable-column">
                      <a  (click)="onExpandView({data: TransactionList})" style="cursor:pointer;">
                          <i class="pi pi-plus"></i>
                      </a>
                  </td>
                  <td class="ui-resizable-column">{{TransactionList.RtpTxnID}}</td>
                  <td class="ui-resizable-column">{{TransactionList.FIID}}</td>
                  <td class="ui-resizable-column">{{TransactionList.Name}}</td>
                  <td class="ui-resizable-column">{{TransactionList.CardNumber}}</td>
                  <td class="ui-resizable-column">{{TransactionList.RequestDateTime | date: 'medium'}}</td>
                  <td class="ui-resizable-column">{{TransactionList.Req_Amt}}</td>
                  <td class="ui-resizable-column">{{TransactionList.ResponseDateTime}}</td>
                  <td class="ui-resizable-column">{{TransactionList.Rsp_TrnRcptId}}</td>
                  <td class="ui-resizable-column">{{TransactionList.Rsp_RsStat}}</td>
                  <td class="ui-resizable-column"><i class="fa fa-check" *ngIf="TransactionList.Erroneous"></i></td>
                  <td class="ui-resizable-column">{{TransactionList.ErrorMessage}}</td>
                  <td class="ui-resizable-column"><i class="fa fa-check" *ngIf="TransactionList.TapTranEligible"></i></td>
                  <td class="ui-resizable-column">{{TransactionList.TapTranIneligibleReason}}</td>
              </tr>
          </ng-template>
      </p-table> 
  </div>

  <!-- FORMATTED MODAL -->
  <local-modal #formattedModal
               [target]="TransactionGrid"
               height="80%"
               width="60%">
    <header>
      <h3 *ngIf="formattedValues.length">{{formattedValues[0]}}</h3>
    </header>
    <main>
      <div class="formatted-value" *ngIf="formattedValue">
        <p>{{formattedValue}}</p>
      </div>
      <div class="formatted-values" *ngIf="formattedValues.length">
        <ul>
          <li *ngFor="let val of formattedValues">
            {{val}}
          </li>
        </ul>
      </div>
    </main>
    <footer class="form-controls-row">
      <button (click)="onFormattedModalCloseClick()">Close</button>
    </footer>
  </local-modal>

  <local-modal #rowDetailModal
               class="TransactionDetailModel"
               [target]="TransactionGrid"
               height="96%"
               width="90%">
    <header class="header">
      <h4>Transaction Detail</h4>
    </header>
    <main style="height: 100%;">

      <div style="overflow-y: scroll;" class="container-fluid page-wrapper transaction-profile"> <!--class="col-md-12 col-lg-12 col-sm-12"-->
        <div class="col-md-4 col-lg-4 col-sm-12  detail-table"> <!--class="col-md-4 col-lg-4 col-sm-12 detail-table"-->
            <h4>Payment Transaction</h4>
            <table *ngIf="rtpTransactionDetailPayment" class="width-100">
              <tr>
                <th style="width: 180px;">RTP Txn ID </th>
                <td>{{ rtpTransactionDetailPayment.RtpTxnID }}</td>
              </tr>
              <tr>
                <th>FIID - Name</th>
                <td>{{rtpTransactionDetailPayment.FIID}}</td>
              </tr>
              <tr>
                <th>Mainframe FIID </th>
                <td>{{rtpTransactionDetailPayment.MainframeFIID}}</td>
              </tr>
              <tr>
                <th>Card Number
                  </th>
                <td>{{rtpTransactionDetailPayment.CardNumber}}</td>
              </tr>
              <tr>
                <th>Merchant Number
                  </th>
                <td>{{rtpTransactionDetailPayment.MerchantNum}}</td>
              </tr>
              <tr>
                <th>Request Date/Time
                  </th>
                <td>{{ changeDate(rtpTransactionDetailPayment.RequestDateTime) }}</td>
              </tr>
              <tr>
                <th>Payment Amount
                  </th>
                <td>{{rtpTransactionDetailPayment.Req_Amt}}</td>
              </tr>
              <tr>
                <th>Acct Number
                  </th>
                <td>{{ rtpTransactionDetailPayment.Req_DrAcctId }}</td>
              </tr>
              <tr>
                <th>Acct Type
                  </th>
                <td>{{rtpTransactionDetailPayment.Req_DrAcctType}}</td>
              </tr>
              <tr>
                <th>Routing Number
                  </th>
                <td>{{rtpTransactionDetailPayment.Req_DrRtNum}}</td>
              </tr>
              <tr>
                <th>Response Date/Time
                  </th>
                <td>{{ changeDate(rtpTransactionDetailPayment.ResponseDateTime) }}</td>
              </tr>
              <tr>
                <th>Txn Receipt ID
                  </th>
                <td>{{rtpTransactionDetailPayment.Rsp_TrnRcptId}}</td>
              </tr>
              <tr>
                <th>Response Status
                  </th>
                <td>{{rtpTransactionDetailPayment.Rsp_RsStat}}</td>
              </tr>
              <tr >
                <th>Erroneous
                  </th>
                <td >{{rtpTransactionDetailPayment.Erroneous}}</td>
              </tr>
              <tr (mouseenter)="showPaymentError(rtpTransactionDetailPayment.ErrorMessage)" (mouseleave)="hidePaymentError(rtpTransactionDetailPayment.ErrorMessage)">
                  <th>Error Message</th>
                  <td ><div class="erroneous-format">{{rtpTransactionDetailPayment.ErrorMessage}}</div></td>
                  <div class="ErrorMessage detail-table" *ngIf="ErrorMessagePayment">
                      {{rtpTransactionDetailPayment.ErrorMessage}}
                  </div>
                </tr>
              <tr >
                <th>Eligible for TapTran?
                  </th>
                <td >{{rtpTransactionDetailPayment.TapTranEligible}}</td>
              </tr>
              <tr >
                <th>TapTran Ineligible Reason
                  </th>
                <td >{{rtpTransactionDetailPayment.TapTranIneligibleReason}}</td>
              </tr>
            </table>
          </div>
       <div  class="col-md-4 col-lg-4 col-sm-12  detail-table" >
          <h4>Debit (JX TrnAdd)</h4>
          <table *ngIf="rtpTransactionDetail && rtpTransactionDetail.JxTran" class="width-100">
            <tr>
              <th style="width: 180px;">Request Date/Time</th>
              <td>{{ changeDate(rtpTransactionDetail.JxTran.RequestDateTime) }}</td>
            </tr>
            <tr>
              <th>Account Type</th>
              <td>{{rtpTransactionDetail.JxTran.Req_AccountType}}</td>
            </tr>
            <tr>
              <th>Amount</th>
              <td>{{rtpTransactionDetail.JxTran.Req_TrnInfoAmt}}</td>
            </tr>
            <tr>
              <th>Trn Code</th>
              <td>{{rtpTransactionDetail.JxTran.Req_TrnInfoTrnCodeCode}}</td>
            </tr>
            <tr>
              <th>Source Code</th>
              <td>{{rtpTransactionDetail.JxTran.Req_TrnInfoSrcCode}}</td>
            </tr>
            <tr>
              <th>Dr/Cr</th>
              <td>{{rtpTransactionDetail.JxTran.Req_TrnInfoDrCr}}</td>
            </tr>
            <tr>
              <th>GL Interface Code</th>
              <td>{{rtpTransactionDetail.JxTran.Req_TrnInfoGLInterfaceCode}}</td>
            </tr>
            <tr>
              <th>Response Date/Time</th>
              <td>{{ changeDate(rtpTransactionDetail.JxTran.ResponseDateTime) }}</td>
            </tr>
            <tr>
              <th>Batch Number</th>
              <td>{{rtpTransactionDetail.JxTran.Rsp_BatchNum}}</td>
            </tr>
            <tr>
              <th>Sequence Number</th>
              <td>{{rtpTransactionDetail.JxTran.Rsp_SeqNum}}</td>
            </tr>
            <tr>
              <th>Trn Receipt Id</th>
              <td>{{rtpTransactionDetail.JxTran.Rsp_TrnRcptId}}</td>
            </tr>
            <tr>
              <th>Response Status</th>
              <td>{{rtpTransactionDetail.JxTran.Rsp_RsStat}}</td>
            </tr>
            <tr>
              <th>Erroneous</th>
              <td>{{rtpTransactionDetail.JxTran.Erroneous}}</td>
            </tr>
            <tr (mouseenter)="showError(rtpTransactionDetail.JxTran.ErrorMessage)" (mouseleave)="hideError(rtpTransactionDetail.JxTran.ErrorMessage)">
              <th>Error Message</th>
              <td ><div class="erroneous-format">{{rtpTransactionDetail.JxTran.ErrorMessage}}</div></td>
              <div class="ErrorMessage detail-table" *ngIf="ErrorMessagetootle">
                  {{rtpTransactionDetail.JxTran.ErrorMessage}}
              </div>
            </tr>
          </table>
        </div>
      <div class="col-md-4 col-lg-4 col-sm-12  detail-table" >
            <h4>Memo Post (PSCU Payment message 1441) </h4>
          <table *ngIf="rtpTransactionDetail && rtpTransactionDetail.PscuTran" class="width-100">
            <tr>
              <th style="width: 180px;">Request Date/Time</th>
              <td>{{ changeDate(rtpTransactionDetail.PscuTran.RequestDateTime) }}</td>
            </tr>
            <tr>
              <th>Req ID</th>
              <td>{{rtpTransactionDetail.PscuTran.Req_RQID}}</td>
            </tr>
            <tr>
              <th>Function ID(Req)</th>
              <td>{{rtpTransactionDetail.PscuTran.Req_FUNCTIONID}}</td>
            </tr>
            <tr>
              <th>Client ID</th>
              <td>{{rtpTransactionDetail.PscuTran.Req_CLIENTID}}</td>
            </tr>
            <tr>
              <th>Merchant Number</th>
              <td>{{rtpTransactionDetail.PscuTran.Req_MRCHNO}}</td>
            </tr>
            <tr>
              <th>Payment Type</th>
              <td>{{rtpTransactionDetail.PscuTran.Req_PYMTYPE}}</td>
            </tr>
            <tr>
              <th>Payment Amount</th>
              <td>{{rtpTransactionDetail.PscuTran.Req_TRANAMT}}</td>
            </tr>
            <tr>
              <th>Response Date/Time</th>
              <td>{{ changeDate(rtpTransactionDetail.PscuTran.ResponseDateTime) }}</td>
            </tr>
            <tr>
              <th>Erroneous</th>
              <td>{{rtpTransactionDetail.PscuTran.Erroneous}} <a class="link" (click)="showReverseDebitErrorPopup()">view Reverse Debit</a></td>
              <div class="JxTranModModel detail-table" *ngIf="ReverseDebitErrorPopup" >
                <header class="header">
                  <h4>2a. Reverse Debit (JX TxnMod)</h4>
                </header>
                <table>
                  <tr>
                    <th width="50%">Request Date/Time</th>
                    <td width="50%">{{ changeDate(rtpTransactionDetail.JxTranMod.RequestDateTime) }}</td>
                  </tr>
                  <tr>
                    <th>Account Type</th>
                    <td>{{ rtpTransactionDetail.JxTranMod.Req_AccountType }}</td>
                  </tr>
                  <tr>
                    <th>Batch Number </th>
                    <td>{{ rtpTransactionDetail.JxTranMod.Req_BatchNum }}</td>
                  </tr>
                  <tr>
                    <th>Seq Number</th>
                    <td>{{ rtpTransactionDetail.JxTranMod.Req_SeqNum }}</td>
                  </tr>
                  <tr>
                    <th>Delete</th>
                    <td>{{ rtpTransactionDetail.JxTranMod.Req_Dlt }}</td>
                  </tr>
                  <tr>
                    <th>Txn Receipt ID </th>
                    <td>{{ rtpTransactionDetail.JxTranMod.RtpTxnID }}</td>
                  </tr>
                  <tr>
                    <th>Response Date/Time</th>
                    <td>{{ changeDate(rtpTransactionDetail.JxTranMod.ResponseDateTime) }}</td>
                  </tr>
                  <tr>
                    <th>Status</th>
                    <td>{{ rtpTransactionDetail.JxTranMod.Rsp_RsStat }}</td>
                  </tr>
                  <tr>
                    <th>Erroneous</th>
                    <td>{{ rtpTransactionDetail.JxTranMod.Erroneous }}</td>
                  </tr>
                  <tr>
                    <th>Error Message</th>
                    <td>{{ rtpTransactionDetail.JxTranMod.ErrorMessage }}</td>
                  </tr>
                </table>
                <footer class="form-controls-row" style="position: relative;">
                  <button class="btn btn-default-custom btn-default-custom-red" (click)="hideReverseDebitErrorPopup()">Close</button>
                </footer>
                <span class="rightAr"><i class="fa fa-play" aria-hidden="true"></i></span>
              </div>
            </tr>
            <tr (mouseenter)="JxTranModPopup(rtpTransactionDetail.JxTranMod)" (mouseleave)="JxTranModPopupOut()">
              <th>Error Message</th>
              <td><div class="erroneous-format">{{rtpTransactionDetail.PscuTran.ErrorMessage}}</div></td>
            </tr>
            <tr>
              <th>Response</th>
              <td>{{rtpTransactionDetail.PscuTran.Res_RESPONSE}}</td>
            </tr>
            <tr>
              <th>Funtion ID(Resp)</th>
              <td>{{rtpTransactionDetail.PscuTran.Res_FUNCTIONID}}</td>
            </tr>
            <tr>
              <th>Status Code</th>
              <td>{{rtpTransactionDetail.PscuTran.Res_STATUSCODE}}</td>
            </tr>
            <tr>
              <th>Exception</th>
              <td>{{rtpTransactionDetail.PscuTran.Res_EXCEPTION}}</td>
            </tr>
            <tr>
              <th>AR E Exception Code</th>
              <td>{{rtpTransactionDetail.PscuTran.Res_AR_E_ACTION_CODE}}</td>
            </tr>
            <tr>
              <th>AR&nbsp;H&nbsp;Add&nbsp;Action&nbsp;Indicator</th>
              <td>{{rtpTransactionDetail.PscuTran.Res_AR_H_ADD_ACTION_IND}}</td>
            </tr>
            <tr>
              <th>AR A Status</th>
              <td>{{rtpTransactionDetail.PscuTran.Res_AR_A_STAT}}</td>
            </tr>
            <tr>
              <th>AR D Ref Number</th>
              <td>{{rtpTransactionDetail.PscuTran.Res_AR_D_REF_NMBR}}</td>
            </tr>
            <tr>
              <th>AR F Auth Number</th>
              <td>{{rtpTransactionDetail.PscuTran.Res_AR_F_AUTH_NMBR}}</td>
            </tr>
          </table>
        </div>
      </div>
    </main>
    <footer class="form-controls-row">
      <button class="btn btn-default-custom btn-default-custom-red" (click)="onTransactionDetailCloseClick()">Close</button>
    </footer>
  </local-modal>


</div>
