
@import '../../../../../../assets/styles/colors.scss';
@import '../../../../../../assets/styles/mixins.scss';

.search-panel {
  border-bottom: 1px inset #CCC;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 5px;

  > form {

    > div {
      display: inline-block;
      height: 75px;
      margin-right: 10px;
      vertical-align: top;

      > div {
        display: inline-block;
        margin-right: 10px;
      }

      label {
        display: block;
        color: #222;
        text-align: left;
      }

      .date-range-picker {        
        input {
          width: 100px;
        }
      }

      .input-bin {
        width: 90px;
      }

      .input-pan {
        width: 50px;
      }
    }

    .controls-panel {
      float: right;
      font-weight: bold;
      text-align: right;
      margin: 8px 0 0;

      button {
        margin-top: 10px;
      }
    }

    .svc-id-panel {
      width: 140px;

      .spinner {
        margin: 0;
      }
    }

    .fi-id-panel {
      width: 290px;
    }

    .search-whole-day {
      padding: 3px 0;

      label, input {
        display: inline-block;
        vertical-align: middle;
      }

      label {
        margin: 0 10px 0 0;
      }

      input {
        height: 20px;
        width: 20px;
      }
    }

    // .search-date-panel {
    //   // width: 130px;
    // }

    // .fi-select-box {
    //   // width: 180px;
    // }

    // .bin-pan-panel {
    //   // width: 200px;
    // }

    // .time-range-panel {
    //   // width: 200px;
    // }
  }
}

.search-params-panel {
  background-color: $col-header-bg;
  clear: both;
  color: #FFF;
  overflow: hidden;
  padding: 7px;

//   @include linear-gradient(to bottom, $blue-primary, $col-header-bg);

//   > button {
//     color: #000;
//     float: right;
//     margin: 10px 10px 10px 0;
//   }
  
  ul {
    display: inline-block;
    margin-right: 20px;

    li {
      display: inline-block;
      margin-right: 20px;

      label {
        margin: 0 0 2px 0;

        &:first-of-type {
          color: #EEE;
          display: block;
          font-size: 12px;
          text-transform: uppercase;
        }

        &:last-of-type {
          display: block;
          font-weight: bold;
        }
      }
    }
  }

  .file-info-toggle-panel {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
  }

}
.btn-default-custom-dark-blue {
background-color: #024b94;
}
.btn-default-custom-dark-blue:hover, .btn-default-custom-dark-blue:focus {
background-color: #fff;
box-shadow: 0 0 0 0 #fff;
color: #024b94 !important;
border: 1px solid #024b94;
}
.btn-default-custom-green {
background-color: #3aa03a;
}
.btn-default-custom-green:hover, .btn-default-custom-green:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #3aa03a !important;
  border: 1px solid #3aa03a;
}
.btn-default-custom-info {
background-color: #089de3;
}
.btn-default-custom-info:hover, .btn-default-custom-info:focus {
background-color: #fff;
box-shadow: 0 0 0 0 #fff;
color: #089de3;
border: 1px solid #089de3;
}
.btn-default-custom-red {
background-color: #dd0303;
}
.btn-default-custom-red:hover, .btn-default-custom-red:focus {
background-color: #fff;
box-shadow: 0 0 0 0 #fff;
color: #dd0303 !important;
border: 1px solid #dd0303;
}
.btn-default-custom-grey-light {
  background-color: #d3d3d3;
  }
  .btn-default-custom-grey-light:hover, .btn-default-custom-grey-light:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #d3d3d3 !important;
  border: 1px solid #d3d3d3;
  }
.btn-default-custom{
margin-right: 0px;
border-radius: 0px;
border: 0px;
color: #fff;
font-size: 14px;
font-weight: 600;
height: 35px;
border-radius: 0px;
padding: 8px 20px 10px;
cursor: pointer;
text-transform: capitalize;
}
::ng-deep .mat-slide-toggle-bar {
  background-color: grey
}
.red {
  color: red; 
}

.green {
  color: green;
}
.marg-left-5{
margin-left: 5px
}
.check-user-nessage{
height: 20px;
width: 250px
}
.grid-header .title {
color: #FFF;
margin: 12px 10px;
}
.header {
background-color: #ff8a00 !important;
min-height: 39px !important;
}
.width-100{
  display: inline-block;
width: 100%;
}
.hieght-34{
height: 34px;
}
.detail-table {
  // table {
  //   // border: 1px solid rgb(66, 104, 209);
  //   // border-collapse: collapse;
  //   text-align: start;
  // }
  th {
   color: #3661a1;
   //text-overflow: inherit;
   white-space: nowrap;
  //  overflow: hidden;
   
  }
  th, td {
    padding: 5px;
    text-align: left;
    white-space: nowrap;
  }
}
.subdetail-table {
  table {
    border: 1px solid rgb(66, 104, 209);
    border-collapse: collapse;
    text-align: start;
  }
  th {
   color: #3661a1;
   
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
}

.dropdown-list{
  width: 300px !important;
}
.multiselect-dropdown .selected-item{
  font-size: 10px !important;
  max-width: 234px;
  overflow: hidden;
  height: 20px;
}
.multiselect-dropdown .multiselect-item-checkbox div::before{
  border-radius: 100% !important;
}
.erroneous-format {
  word-break: break-word;
  height:40px;
  // width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.JxTranModModel{
  position: absolute;
  left: -29%;
  background: rgb(221, 240, 243);
  border-radius: 20px;
  padding: 0px;
  top: 35px;
}
.JxTranModModel .rightAr{
  position: absolute;
  right: -14px;
  bottom: 60px;
  font-size: 20px;
}
.width-100{
  width: 100%;
}
.TransactionDetailModel{
  top: -47px !important;
}
.TransactionDetailModel .modal-body{
  margin-top: 0px !important;
}
.ErrorMessage{
  position: absolute;
  right: 17px;
  bottom: 51px;
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 9px;
  width: 227px;
  font-size: 12px;
  word-break: break-word;
  height: 400px;
  overflow-y: scroll;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.page-wrapper .form-control{
  height: 35px;
}


.transaction-profile {
  background-color: #FFF;
  overflow: hidden;
  padding: 0 20px;

  //> ul {
  //
  //  > li {
  //    display: inline-block;
  //    margin: 0 20px 20px 0;
  //    width: 50%;
  //  }
  //}

  h4 {
    color:  #ee700a;
    font-weight: bold;    
    white-space: nowrap;
  }

  section {
    border: 1px solid #CCC;
    margin-bottom: 20px;
    height: 380px;
    overflow: hidden;

    header {
      background-color: #EEE;
      padding: 5px;
      position: relative;

      > label {
        color: $orange-primary;
        font-size: 18px;
        margin: 5px 10px;
      }

      .controls {
        position: absolute;
        right: 5px;
        top: 5px;

        button {
          display: inline-block;
        }
      }
    }

    main {
      padding: 20px;

      .row {
        margin-bottom: 10px;

        select {
          height: 26px;
          width: 100%;
        }
      }

      .controls {
        padding-bottom: 10px;
        text-align: right;
      }
    }
  }
}
.detail-table td {
  white-space: normal;
}
.TransactionDetailModel .modal-body {
  z-index: 9999;
}