

body {
  background-image: url("../../../../../../assets/images/login_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
} 

.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.input-group .form-control {
  border-left: 0px;
}

.input-group-addon {
  background: #ff8a00; /*border: 2px solid #999;*/
  min-width: 50px;
  font-size: 18px;
  border-right: 0px;
  color: #fff;
}


h2 {
  color: #e04a00;
  font-size: 2em;
  margin: 0px 0px 20px 0px;
}

a {
  color: #4585f7;
  border-bottom: 1px solid;
}

.forgotpassword-panel {
    background: #fff;
    border: solid 1px #d3d3d3;
    border-radius: 8px;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 52.5%;
    transform: translate(-50%, -50%);
    width: 500px;
  
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 3px 0px 3px #666;

/*   
    h2 {
      color: #e04a00;
      font-size: 2em;
      margin: 0px 0px 20px 0px;
    } */
  
    /* a {
      color: #4585f7;
      border-bottom: 1px solid;
    } */
  
    .form-control {
      height: 40px !important;
    }
  }

  .message-panel {
    background: #FFF;
    border-radius: 0 0 8px 8px;
    left: 50%;
    padding: 20px;
    position: absolute;
    transform: translate(-50%, 0);
    width: 500px;
  
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 3px 0px 3px #666;
  
    h3 {
      color: $orange-primary;
      margin: 0;
      text-align: center;
    }
  }
  .btn-orange {
    background: #ff8a00;
    color: #fff;
  }
  
  .btn-orange:hover, .btn-orange:active, .btn-orange:focus {
    background: #ff8a00;
    color: #fff;
    outline: none;
  }
