.fi-admin {
  overflow: hidden;

  ag-grid-angular#detailGrid {
    overflow-y: scroll;
  }
  .cell-wrap-text {
    white-space: normal !important;
  }
  .btn-default-custom-dark-blue {
    background-color: #024b94;
  }
  .btn-default-custom-dark-blue:hover,
  .btn-default-custom-dark-blue:focus {
    background-color: #fff;
    box-shadow: 0 0 0 0 #fff;
    color: #024b94;
    border: 1px solid #024b94;
  }
  .btn-default-custom-green {
    background-color: #3aa03a;
  }
  .btn-default-custom-green:hover,
  .btn-default-custom-green:focus {
    background-color: #fff;
    box-shadow: 0 0 0 0 #fff;
    color: #3aa03a;
    border: 1px solid #3aa03a;
  }
  .btn-default-custom-info {
    background-color: #089de3;
  }
  .btn-default-custom-info:hover,
  .btn-default-custom-info:focus {
    background-color: #fff;
    box-shadow: 0 0 0 0 #fff;
    color: #089de3;
    border: 1px solid #089de3;
  }
  .btn-default-custom-red {
    background-color: #dd0303;
  }
  .btn-default-custom-red:hover,
  .btn-default-custom-red:focus {
    background-color: #fff;
    box-shadow: 0 0 0 0 #fff;
    color: #dd0303;
    border: 1px solid #dd0303;
  }
  .btn-default-custom {
    margin-right: 0px;
    border-radius: 0px;
    border: 0px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 35px;
    border-radius: 0px;
    padding: 8px 20px 10px;
    cursor: pointer;
    text-transform: capitalize;
  }
  ::ng-deep .mat-slide-toggle-bar {
    background-color: grey;
  }
  .red {
    color: red;
  }

  .green {
    color: green;
  }
  .marg-left-5 {
    margin-left: 5px;
  }
  .check-user-nessage {
    height: 20px;
    width: 250px;
  }
  .grid-header .title {
    color: #fff;
    margin: 12px 10px;
  }
  header.header {
    background-color: #ff8a00 !important;
    min-height: 39px !important;
  }
  .width-100 {
    width: 100%;
  }
  .hieght-34 {
    height: 34px;
  }

  ag-grid-angular#detailGrid {
    overflow-y: scroll;
  }
  .pr-35 {
    padding-right: 35px;
  }
  .detail-table table {
    border: none;
  }
  .detail-table table tr {
    width: 100%;
  }
  .detail-table table,
  .detail-table th {
    border: 1px solid #fff;
    border-collapse: collapse;
  }
  .detail-table .table > thead > tr > th {
    border-bottom: 3px solid #fff !important;
  }
  .detail-table > table > thead > tr {
    background-color: #4472c4;
    color: #fff;
  }
  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #cfd5ea;
  }
  .table-striped > tbody > tr:nth-of-type(even) {
    background-color: #e9ebf5;
  }
  .detail-table > table > tbody > tr > td {
    border-top: 1px solid #fff !important;
  }
  .detail-table > table > tbody input {
    height: auto !important;
    display: inherit !important;
  }
  .detail-table > table > tbody p {
    // height: 6px;
    font-size: 15px;
    margin-bottom: 0px;
  }
  .detail-table .form-control[disabled],
  .detail-table .form-control[readonly] {
    background-color: transparent;
    opacity: 1;
    border: 0px;
    box-shadow: none;
  }
  .additionaldetail-table table,
  .additionaldetail-table th,
  .additionaldetail-table td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  .additionaldetail-table th,
  .additionaldetail-table td {
    padding: 5px;
    text-align: left;
  }
  .btn-container-wd {
    width: 10%;
  }
  .red-border-class {
    border-color: red;
  }
  .ht-error-div {
    height: 20px;
  }
  .error-message {
    color: red;
  }
}
.binContainer {
  padding: 15px 50px;
}
.v-m {
  width: 130px;
  vertical-align: middle !important;
}
.binContainer .formtable tr,
.binContainer .formtable td {
  border: none !important;
}
.display-flex {
  display: flex;
}
.master-bin {
  position: relative;
  vertical-align: middle;
  margin: 62px auto auto 0;
  span {
    font-size: 15px;
    text-transform: capitalize;
    color: #ff8a00;
  }
}
.disabled-input {
  background-color: transparent !important;
  // border: none;
  // box-shadow: none;
}

.pr-80 {
  padding-right: 79px !important;
}
