
$orange-primary: #ff8a00;

$blue-primary: #1b3769;
$blue-alt-light: #bbe2f8;

//GRID
$col-header-bg: #5e9cd3;



//MODULE NAV
$module-nav-hover-bg: $blue-alt-light;
$module-nav-tooltip-bg: #0e8de6;
$module-nav-tooltip-text: #FFF;
