
.content-info {

  .row {

    label {
      display: block;
      margin: 0;

      &.data-label {
        font-weight: normal;
        margin: 0 0 10px 10px;
      }
    }
  }
}
.w-25{
  width : 25%;
}
.btn-default-custom-dark-blue {
  background-color: #024b94;
  }
  .btn-default-custom-dark-blue:hover, .btn-default-custom-dark-blue:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #024b94;
  border: 1px solid #024b94;
  }
  .btn-default-custom-green {
  background-color: #3aa03a;
  }
  .btn-default-custom-green:hover, .btn-default-custom-green:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #3aa03a;
  border: 1px solid #3aa03a;
  }
  .btn-default-custom-info {
  background-color:  #089de3;
  }
  .btn-default-custom-info:hover, .btn-default-custom-info:focus {
    background-color: #fff;
    box-shadow: 0 0 0 0 #fff;
    color: #089de3;
    border: 1px solid #089de3;
  }
  .btn-default-custom-red {
  background-color: #dd0303;
  }
  .btn-default-custom-red:hover, .btn-default-custom-red:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #dd0303;
  border: 1px solid #dd0303;
  }
  .btn-default-custom-orange {
    background-color: #ff8a00;
  }
  
  .btn-default-custom-orange:hover, .btn-default-custom-orange:focus {
    background-color: #fff;
    box-shadow: 0 0 0 0 #fff;
    color: #ff8a00;
    border: 1px solid #ff8a00;
  }
  .btn-default-custom{
    margin-right: 0px;
    border-radius: 0px;
    border: 0px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 35px;
    border-radius: 0px;
    padding: 8px 20px 10px;
    cursor: pointer;
    text-transform: capitalize;
  }
  .mr-1{
    margin-right: 10px;
  }