<div class="fi-onboarding col-md-12 col-lg-12 col-sm-12" contentHeight=".main-wrapper">
  <div class="grid-header">
    <div class="controls" *ngIf="!loading">
      <div class="controls" *ngIf="!loading">
        <table>
          <tr>
            <td>
              <!-- <button *ngIf="errorList.length" class="btn btn-default btn-default-custom btn-default-custom-green marg-left-5 default-boot" (click)="datatable.exportCSV()">
                <i class="fa fa-file-excel-o"></i>
                Export
              </button>                -->
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!-- <h4 class="title">Award - Process View Errors</h4> -->
    <h4 class="title">{{Heading}} - View Errors</h4>
  </div>
  <div class="search-panel">
    <div class="search-panel">
      <form [formGroup]="searchForm" (ngSubmit)="onSearchFormSubmit($event)" *ngIf="searchForm">
        <div class="controls-panel">
          <button type="submit" class="btn btn-default-custom-dark-blue btn-default-custom">
            <i class="fa fa-search"></i>
            Search
          </button>
          <button type="button" class="btn btn-default-custom-green btn-default-custom" (click)="onFormReset()">
            <i class="fa fa-recycle"></i>
            Reset
          </button>
        </div>
        <div class="fi-id-panel">
          <label class="label">File Type <span style="color: Red;">*</span></label>
          <!-- <select #errorType (change)="onOptionSelected(errorType.value,datatable)" formControlName="errorFilter">
              <option height='20px;' value="" selected>select</option>
              <option *ngFor="let err of errorOpts" [value]="err.ID">
                {{err.value}}
              </option>
          </select> -->

          <ng-multiselect-dropdown [placeholder]="'Select'" [data]="fileTypeList" formControlName="errorFilter"
            [settings]="fileTypedropdownSettings">
          </ng-multiselect-dropdown>
        </div>
        <!-- <div class="fi-id-panel">
            <label class="label">FI Name</label>

            <ng-multiselect-dropdown *ngIf="FIUsers"
                    [placeholder]="'Select'"
                    [disabled]="true"
                    [data]="dropdownList"
                    [(ngModel)]="dropdownList"
                    (onSelectAll)="FISelectedAll($event)"
                    formControlName="fiId"
                    [settings]="dropdownSettings">
                  </ng-multiselect-dropdown>
            <ng-multiselect-dropdown *ngIf="!FIUsers"
                          [placeholder]="'Select'"
                          [data]="dropdownList"
                          formControlName="fiId"
                          [settings]="dropdownSettings">
                        </ng-multiselect-dropdown>


        </div> -->
        <div class="search-date-panel">
          <label class="label">From File Date <span style="color: Red;">*</span></label>
          <date-picker #startDate *ngIf="!ResetForm" formControlName="startDate" [showDefaultDate]="false"
            (onDateChanged)="onDateChange($event)" (onTouched)="onDateTouched($event)"
            (click)="onDateTouched($event,'From')">
          </date-picker>
          <date-picker #startDate *ngIf="ResetForm" formControlName="startDate" [showDefaultDate]="true"
            (onDateChanged)="onDateChange($event)" (onTouched)="onDateTouched($event)"
            (click)="onDateTouched($event, 'From')">
          </date-picker>
        </div>

        <div class="search-date-panel">
          <label class="label">To File Date <span style="color: Red;">*</span></label>
          <date-picker #endDate *ngIf="!ResetForm" formControlName="endDate" [showDefaultDate]="false"
            (onDateChanged)="onDateChange($event)" (click)="onDateTouched($event,'To')"></date-picker>
          <date-picker #endDate *ngIf="ResetForm" formControlName="endDate" [showDefaultDate]="true"
            (onDateChanged)="onDateChange($event)" (click)="onDateTouched($event,'To')"></date-picker>
        </div>
        <div class="fi-id-panel" id="finamemultiselect">
          <label class="label">FI Name</label>

          <ng-multiselect-dropdown *ngIf="FIUsers" [placeholder]="'Select'" [disabled]="true" [data]="dropdownList"
            [(ngModel)]="dropdownList" (onSelectAll)="FISelectedAll($event)" formControlName="fiId"
            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)">
          </ng-multiselect-dropdown>
          <ng-multiselect-dropdown *ngIf="!FIUsers" [placeholder]="'Select'" [data]="dropdownList"
            formControlName="fiId" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
            [(ngModel)]="selectedItems">
          </ng-multiselect-dropdown>
        </div>
      </form>
    </div>

    <div class="grid-header">
      <div class="controls">
        <table>
          <tr>
            <td>
              <form [formGroup]="SearchForm">
                <filter-box (onClear)="RefreshFilterboxGrid(datatable)" (onChange)="onSearch($event,datatable)"
                  placeholder="Search"></filter-box>
              </form>
            </td>
            <td>
              <button *ngIf="errorList.length"
                class="btn btn-default btn-default-custom btn-default-custom-green marg-right-5 default-boot"
                (click)="onExportClick(datatable)">
                <i class="fa fa-file-excel-o"></i>
                Export
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <p-table #datatable [value]="errorList" [columns]="cols" dataKey="MainframeFIID" [responsive]="true"
      [resizableColumns]="true" scrollHeight="70vh" [scrollable]="true" exportFilename="AwardErrors"
      [expandedRowKeys]="expandedRows" [paginator]="true" [rows]="17" [globalFilterFields]="customfilterFields">
      <ng-template pTemplate="colgroup" let-tableColumns>
        <colgroup>
          <col *ngFor="let col of tableColumns" />
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns tableStyle="table-layout:auto">
        <tr>
          <th pResizableColumn *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
            <i class="pi pi-bars br-align"></i>
          </th>
          <!-- <th pResizableColumn class="edit-btn">
          </th> -->
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-errorList let-expanded="expanded">
        <!-- <tr *ngIf="fileType==='EME' || fileType==='TRR'">**3***<br>******<hr>*****<br> -->
        <tr *ngIf="fileType==='EME' || fileType==='EMM' || fileType==='PPCF'">
          <td class="ui-resizable-column">{{errorList.filetype}}</td>
          <td class="ui-resizable-column">{{errorList.filename}}</td>
          <td class="ui-resizable-column">{{errorList.mainframefiid}}</td>
          <td class="ui-resizable-column">{{errorList.bin}}</td>
          <td class="ui-resizable-column">{{errorList.panlast4}}</td>
          <td class="ui-resizable-column">{{errorList.cardholdername}}</td>
          <td class="ui-resizable-column">{{errorList.address1}}</td>
          <td class="ui-resizable-column">{{errorList.address2}}</td>
          <td class="ui-resizable-column">{{errorList.city}}</td>
          <td class="ui-resizable-column">{{errorList.postalcode}}</td>
          <td class="ui-resizable-column">{{errorList.fiaccount}}</td>
          <td class="ui-resizable-column">{{errorList.dateandtime}}</td>
          <td class="ui-resizable-column">{{errorList.error}}</td>
        </tr>
        <tr *ngIf="fileType==='TRC' || fileType==='SAA'">
          <td class="ui-resizable-column">{{errorList.mainframefiid}}</td>
          <td class="ui-resizable-column">{{errorList.filename}}</td>
          <td class="ui-resizable-column">{{errorList.bin}}</td>
          <td class="ui-resizable-column">{{errorList.dateandtime}}</td>
          <td class="ui-resizable-column">{{errorList.error}}</td>
        </tr>
        <tr *ngIf="fileType==='TRR'">
          <td class="ui-resizable-column">{{errorList.filetype}}</td>
          <td class="ui-resizable-column">{{errorList.filename}}</td>
          <td class="ui-resizable-column">{{errorList.bin}}</td>
          <td class="ui-resizable-column">{{errorList.mainframefiid}}</td>
          <td class="ui-resizable-column">{{errorList.panlast4}}</td>
          <td class="ui-resizable-column">{{errorList.cardholdername}}</td>
          <td class="ui-resizable-column">{{errorList.pointsawarded}}</td>
          <td class="ui-resizable-column">{{errorList.sign}}</td>
          <td class="ui-resizable-column">{{errorList.transactiondate}}</td>
          <td class="ui-resizable-column">{{errorList.fiaccountnumber}}</td>
          <td class="ui-resizable-column">{{errorList.dateandtime}}</td>
          <td class="ui-resizable-column">{{errorList.error}}</td>
        </tr>
        <tr *ngIf="fileType==='BRU'">
          <td class="ui-resizable-column">
            <a class="icon-right">
              <i [ngClass]="expanded ? 'pi pi-minus' : 'pi pi-plus'"
                (click)="onOpenDetailViewClick(errorList.BruResponseId)"></i>
            </a>
            {{errorList.MainframeFIID}}
          </td>
          <td class="ui-resizable-column">{{errorList.ResponseFileName}}</td>
          <td class="ui-resizable-column">
            {{errorList.BruFileDate | date:'mediumDate'}}
          </td>
          <td class="ui-resizable-column">{{errorList.BruFileSequence}}</td>
          <td class="ui-resizable-column">{{errorList.BruRecordType}}</td>
          <td class="ui-resizable-column">{{errorList.BruCardNumberMasked}}</td>
          <td class="ui-resizable-column">{{errorList.ChName}}</td>
          <td class="ui-resizable-column">{{errorList.ChAddress1}}</td>
          <td class="ui-resizable-column">{{errorList.ChCity}}</td>
          <td class="ui-resizable-column">{{errorList.FiAccountNumber}}</td>
          <td class="ui-resizable-column">{{errorList.BruRewardUpdateType}}</td>
          <td class="ui-resizable-column">
            {{errorList.ResponseErrorCode}}-{{errorList.ResponseErrorDescription}}
          </td>
        </tr>
        <tr *ngIf="fileType==='MFT'">
          <td class="ui-resizable-column">{{errorList.mainframefiid}}</td>
          <td class="ui-resizable-column">{{errorList.monetaryfilename}}</td>
          <td class="ui-resizable-column">{{errorList.account}}</td>
          <td class="ui-resizable-column">{{errorList.cardholdername}}</td>
          <td class="ui-resizable-column">{{errorList.address1}}</td>
          <td class="ui-resizable-column">{{errorList.city}}</td>
          <td class="ui-resizable-column">{{errorList.fiaccount}}</td>
          <td class="ui-resizable-column">{{errorList.sysprinagent}}</td>
          <td class="ui-resizable-column">{{errorList.recordtype}}</td>
          <td class="ui-resizable-column">{{errorList.transactionamount}}</td>
          <td class="ui-resizable-column">{{errorList.trancode}}</td>
          <td class="ui-resizable-column">{{errorList.dateandtime}}</td>
          <td class="ui-resizable-column">{{errorList.error}}</td>
        </tr>
        <tr *ngIf="fileType==='MRF'">
          <td class="ui-resizable-column">
            <a class="icon-right">
              <i [ngClass]="expanded ? 'pi pi-minus' : 'pi pi-plus'"
                (click)="onMrfClick(errorList.MonetaryResponseId)"></i>
            </a>
            {{errorList.MainframeFiid}}
          </td>
          <td class="ui-resizable-column">{{errorList.ResponseFileName}}</td>
          <td class="ui-resizable-column">{{errorList.MonetaryFileDate}}</td>
          <td class="ui-resizable-column">{{errorList.MonetaryFileSequence}}</td>
          <td class="ui-resizable-column">{{errorList.MonetaryRecordType}}</td>
          <td class="ui-resizable-column">{{errorList.MonetaryCardNumberMasked}}</td>
          <td class="ui-resizable-column">{{errorList.ChName}}</td>
          <td class="ui-resizable-column">{{errorList.ChAddress1}}</td>
          <td class="ui-resizable-column">{{errorList.ChCity}}</td>
          <td class="ui-resizable-column">{{errorList.FiAccountNumber}}</td>
          <td class="ui-resizable-column">{{errorList.MonetaryTransactionAmount | currency:'USD':true}}</td>
          <td class="ui-resizable-column">{{errorList.MonetaryTranCode}}</td>
          <td class="ui-resizable-column">{{errorList.ResponseErrorCode}}</td>

        </tr>
        <tr></tr>
      </ng-template>
    </p-table>
  </div>

  <!-- BRU MODAL -->
  <local-modal #bruModal height="750px" width="750px">
    <header class="header">
      <h3>BRU Response File</h3>
    </header>
    <main>
      <div class="cfg-add-panel" id="bru-modal">
        <!-- <div class="swal2-icon swal2-warning swal2-animate-warning-icon" style="display: flex;"><span class="swal2-icon-text">!</span></div> -->
        <div>
          <span>MainframeFIID:</span> <span>{{bruFile?.MainframeFIID}}</span>
        </div>
        <div>
          <span>ResponseFileName:</span> <span>{{bruFile?.ResponseFileName}}</span>
        </div>
        <div>
          <span>File Date:</span> <span>{{bruFile?.BruFileDate}}</span>
        </div>
        <div>
          <span>File Sequence #:</span> <span>{{bruFile?.BruFileSequence}}</span>
        </div>
        <div>
          <span>Record Type:</span> <span>{{bruFile?.BruRecordType}}</span>
        </div>
        <div>
          <span>Sys|Prin|Agent:</span> <span>{{bruFile?.BruSysPrinAgent}}</span>
        </div>
        <div>
          <span>Account:</span> <span>{{bruFile?.FiAccountNumber}}</span>
        </div>
        <div>
          <span>Cardholder Name:</span> <span>{{bruFile?.ChName}}</span>
        </div>
        <div>
          <span>Address1:</span> <span>{{bruFile?.ChAddress1}}</span>
        </div>
        <div>
          <span>City:</span> <span>{{bruFile?.ChCity}}</span>
        </div>
        <div>
          <span>FI Account Name:</span> <span>{{bruFile?.ChName}}</span>
        </div>
        <div>
          <span>FD Loyalty Account:</span> <span>{{bruFile?.BruFdLoyaltyAccount}}</span>
        </div>
        <div>
          <span>Update Type:</span> <span>{{bruFile?.BruRewardUpdateType}}</span>
        </div>
        <div>
          <span>Earning Program ID:</span> <span>{{bruFile?.BruFdEarningProgramId}}</span>
        </div>
        <div>
          <span>Date of Action:</span> <span>{{bruFile?.CreateDateTime}}</span>
        </div>
        <div>
          <span>Processing Flag:</span> <span>{{bruFile?.ChName}}</span>
        </div>
        <div>
          <span>Houselhold Flag:</span> <span>{{bruFile?.ChName}}</span>
        </div>
        <div>
          <span>Action Code:</span> <span>{{bruFile?.BruActionCode}}</span>
        </div>
        <div>
          <span>Reward Account:</span> <span>{{bruFile?.BruActionCode}}</span>
        </div>
        <div>
          <span>Batch Code:</span> <span>{{bruFile?.BruBatchCode}}</span>
        </div>
        <div>
          <span>Reward Update Type Data:</span> <span>{{bruFile?.BruRewardUpdateTypeData}}</span>
        </div>

      </div>
    </main>
    <footer class="form-controls-row" style="text-align: center;">
      <button (click)="onCloseBruModalClick()"
        class="btn btn-sm btn-default btn-default-custom btn-default-custom-red default-boot">
        Close
      </button>
    </footer>
  </local-modal>
  <!-- FI MODAL -->
  <local-modal #mrfModal height="96%" width="90%" style="z-index: 9999;" class="MrfDetailModel">
    <header class="header">
      <h3>Monetary Response File</h3>
    </header>
    <main style="height: 100%;">

      <div style="overflow-y: scroll;" class="container-fluid page-wrapper transaction-profile">
        <div class="col-md-4 col-lg-4 col-sm-12  detail-table">
          <table *ngIf="mrfFile" class="width-100">
            <tr>
              <th style="width: 180px;">MainframeFIID: </th>
              <td> {{mrfFile?.MainframeFiid}} </td>
              <th style="width: 180px;">Transaction Amount: </th>
              <td> {{mrfFile?.MonetaryTransactionAmount}} </td>
            </tr>
            <tr>
              <th style="width: 180px;">Response File Name: </th>
              <td> {{mrfFile?.ResponseFileName}} </td>
              <th style="width: 180px;">Card Acceptor Code: </th>
              <td> {{mrfFile?.MonetaryCardAcceptorCode}} </td>
            </tr>
            <tr>
              <th style="width: 180px;">File Date: </th>
              <td>{{mrfFile?.MonetaryFileDate}} </td>
              <th style="width: 180px;">Merchant Name:</th>
              <td> {{mrfFile?.MonetaryMerchantName}}</td>
            </tr>
            <tr>
              <th style="width: 180px;"> File Sequence: </th>
              <td> {{mrfFile?.MonetaryFileSequence}}</td>
              <th style="width: 180px;">Merchant City: </th>
              <td> {{mrfFile?.MonetaryMerchantCity}} </td>
            </tr>
            <tr>
              <th style="width: 180px;">Record Type: </th>
              <td> {{mrfFile?.MonetaryRecordType}} </td>
              <th style="width: 180px;">Merchant State: </th>
              <td>{{mrfFile?.MonetaryMerchantState}}</td>
            </tr>
            <tr>
              <th style="width: 180px;">Sys | Prin | Agent: </th>
              <td> {{mrfFile?.MonetarySysPrinAgent}} </td>
              <th style="width: 180px;">MCC: </th>
              <td> {{mrfFile?.MonetaryMcc}} </td>
            </tr>
            <tr>
              <th style="width: 180px;">Account: </th>
              <td> {{mrfFile?.MonetaryCardNumberMasked}} </td>
              <th style="width: 180px;">Network ID: </th>
              <td> {{mrfFile?.MonetaryNetworkId}} </td>
            </tr>
            <tr>
              <th style="width: 180px;">Cardholder Name: </th>
              <td> {{mrfFile?.ChName}} </td>
              <th style="width: 180px;">Cashback Amount: </th>
              <td> {{mrfFile?.MonetaryCashbackAmount}} </td>
            </tr>
            <tr>
              <th style="width: 180px;">Address 1: </th>
              <td> {{mrfFile?.ChAddress1}} </td>
              <th style="width: 180px;">POS Entry Mode: </th>
              <td> {{mrfFile?.MonetaryPosEntryMode}}</td>
            </tr>
            <tr>
              <th style="width: 180px;">City: </th>
              <td> {{mrfFile?.ChCity}} </td>

              <th style="width: 180px;">ECI Code: </th>
              <td> {{mrfFile?.MonetaryEciCode}} </td>
            </tr>
            <tr>
              <th style="width: 180px;">FI Account: </th>
              <td> {{mrfFile?.FiAccountNumber}} </td>
              <th style="width: 180px;">PIN Indicator:</th>
              <td> {{mrfFile?.MonetaryPinIndicator}} </td>
            </tr>
            <tr>
              <th style="width: 180px;">Transaction Code: </th>
              <td> {{mrfFile?.MonetaryTranCode}} </td>
              <th style="width: 180px;">Merchant ZIP: </th>
              <td> {{mrfFile?.MonetaryMerchantZip}} </td>
            </tr>
            <tr>
              <th style="width: 180px;">Item Date: </th>
              <td> {{mrfFile?.MonetaryItemDate}} </td>
              <th style="width: 180px;">Error Code + Description: </th>
              <td> {{mrfFile?.ResponseErrorCode}} </td>
            </tr>
          </table>
        </div>
      </div>

    </main>
    <footer class="form-controls-row">
      <button (click)="onMrfCancelClick()" class="btn btn-default-custom btn-default-custom-red">Close</button>
    </footer>
  </local-modal>
</div>