@import "../../../../../../assets/styles/colors.scss";
@import "../../../../../../assets/styles/mixins.scss";

.multiselect-parent .dropdown-toggle {
  width: 200px;
}
.multiselect-parent .dropdown-menu {
  width: 300px;
}

.custom-font-size .multiselect-dropdown .dropdown-btn {
  width: 230pt !important;
  background: #baa28e !important;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

:host ::ng-deep .multiselect-dropdown .dro .dropdown-btn {
  display: inline-block;
  border: 1px solid #adadad;
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
}

.ui-select-match-text > span {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
}

.search-panel {
  border-bottom: 1px inset #ccc;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 5px;

  > form {
    > div {
      display: inline-block;
      height: 75px;
      margin-right: 10px;
      vertical-align: top;

      > div {
        display: inline-block;
        margin-right: 10px;
      }

      label {
        display: block;
        color: #222;
        text-align: left;
      }

      .date-range-picker {
        input {
          width: 100px;
        }
      }

      .input-bin {
        width: 90px;
      }

      .input-pan {
        width: 50px;
      }
    }

    .controls-panel {
      float: right;
      font-weight: bold;
      text-align: right;
      margin: 8px 0 0;

      button {
        margin-top: 10px;
      }
    }

    .svc-id-panel {
      width: 300px;

      .spinner {
        margin: 0;
      }
    }

    .fi-id-panel {
      width: 250px;
    }

    .search-whole-day {
      padding: 3px 0;

      label,
      input {
        display: inline-block;
        vertical-align: middle;
      }

      label {
        margin: 0 10px 0 0;
      }

      input {
        height: 20px;
        width: 20px;
      }
    }

    .search-date-panel {
      // width: 130px;
    }

    .fi-select-box {
      // width: 180px;
    }

    .bin-pan-panel {
      // width: 200px;
    }

    .time-range-panel {
      // width: 200px;
    }
  }
}

.search-params-panel {
  background-color: $col-header-bg;
  clear: both;
  color: #fff;
  overflow: hidden;
  padding: 7px;

  //   @include linear-gradient(to bottom, $blue-primary, $col-header-bg);

  //   > button {
  //     color: #000;
  //     float: right;
  //     margin: 10px 10px 10px 0;
  //   }

  //   .close-icon:after {
  //     content: "X";
  //     display: block;
  //         width: 15px;
  //         height: 17px;
  //         position: relative;
  //         z-index:1;
  //         right: 45px;
  //         top: 0;
  //         bottom: 0;
  //         margin: auto;
  //         padding: 2px;
  //         border-radius: 50%;
  //         text-align: center;
  //         color: rgb(20, 20, 20);
  //         font-weight: normal;
  //         font-size: 12px;
  //         cursor: pointer;
  //   }

  //     filter-box {
  //       position: relative;
  //       padding: 1px;
  //   }
  //   .close-icon{
  //     border:1px solid transparent;
  //     background-color: transparent;
  //     display: inline-block;
  //     vertical-align: middle;
  //     outline: 0;
  //     cursor: pointer;

  //   }
  //   .filter-box :not(:valid) ~ .close-icon {
  //     display: none;
  // }

  ul {
    display: inline-block;
    margin-right: 20px;

    li {
      display: inline-block;
      margin-right: 20px;

      label {
        margin: 0 0 2px 0;

        &:first-of-type {
          color: #eee;
          display: block;
          font-size: 12px;
          text-transform: uppercase;
        }

        &:last-of-type {
          display: block;
          font-weight: bold;
        }
      }
    }
  }

  .file-info-toggle-panel {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
  }
}

.btn-default-custom-dark-blue {
  background-color: #024b94;
}
.btn-default-custom-dark-blue:hover,
.btn-default-custom-dark-blue:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #024b94 !important;
  border: 1px solid #024b94;
}
.btn-default-custom-green {
  background-color: #3aa03a;
}
.btn-default-custom-green:hover,
.btn-default-custom-green:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #3aa03a !important;
  border: 1px solid #3aa03a;
}
.btn-default-custom-info {
  background-color: #089de3;
}
.btn-default-custom-info:hover,
.btn-default-custom-info:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #089de3;
  border: 1px solid #089de3;
}
.btn-default-custom-red {
  background-color: #dd0303;
}
.btn-default-custom-red:hover,
.btn-default-custom-red:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #dd0303 !important;
  border: 1px solid #dd0303;
}
.btn-default-custom-grey-light {
  background-color: #d3d3d3;
}
.btn-default-custom-grey-light:hover,
.btn-default-custom-grey-light:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0 #fff;
  color: #d3d3d3 !important;
  border: 1px solid #d3d3d3;
}
.btn-default-custom {
  margin-right: 0px;
  border-radius: 0px;
  border: 0px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  height: 35px;
  border-radius: 0px;
  padding: 8px 20px 10px;
  cursor: pointer;
  text-transform: capitalize;
}

.ui-table-scrollable-header-box {
  margin-right: 17px !important;
}

.ui-table-scrollable-body {
  margin-right: 17px !important;
}
#finamemultiselect {
  width: 325px;
}

#bru-modal div {
  font-size: large;
  padding-left: 10px;
  padding-top: 10px;

  span:first-child {
    display: inline-block;
    width: 175px;
  }

  span:last-child {
    display: inline-block;
  }
}

#mrfLabel{
  font-weight: bold;
}

.MrfDetailModel{
  top: -47px !important;
}
.MrfDetailModel .modal-body{
  margin-top: 0px !important;
}

.detail-table {
  // table {
  //   // border: 1px solid rgb(66, 104, 209);
  //   // border-collapse: collapse;
  //   text-align: start;
  // }
  th {
   color: #3661a1;
   //text-overflow: inherit;
   white-space: nowrap;
  //  overflow: hidden;
   
  }
  th, td {
    padding: 5px;
    text-align: left;
    white-space: nowrap;
  }
}
.subdetail-table {
  table {
    border: 1px solid rgb(66, 104, 209);
    border-collapse: collapse;
    text-align: start;
  }
  th {
   color: #3661a1;
   
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
}

