
@import '../../../../../../assets/styles/colors.scss';

local-modal.reson_model .local-modal .modal-body{
  height: 225px !important;
  left: 0px;
  top: 0px;
  width: 390px !important;
  position: relative !important;
  margin: 19% 47% auto !important;
  vertical-align: middle;
}
local-modal.reson_model .local-modal{
  height: 100% !important;
  left: 0px;
  top: 0px;
  width: 100% !important;
  position: fixed !important;
  text-align: center;
}

local-modal {
  left: 0;
  position: absolute;
  top: 0;

  .local-modal {
    position: absolute;
    
    .modal-overlay {
      background: rgba(0,0,0,0.25);
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .modal-body {
      // z-index: 9999;
      background: #FFF;
      border-bottom: 1px solid #6e98bf;
      border-left: 1px solid #6e98bf;
      border-right: 1px solid #6e98bf;
      border-radius: 0 0 10px 10px;
      overflow: hidden;
      padding: 0;
      margin-top: 30px;

      header {
        background: #e66f20;
        clear: both;
        color: #FFF;
        display: block;
        min-height: 50px;
        overflow: auto;
        padding: 10px;

        h1, h2, h3, h4, h5, h6 {
          color: #FFF;
          margin: 0;
          padding: 0;
        }

        //.controls {
        //  float: right;
        //  padding: 5px;
        //}
      }

      main {
        clear: both;
        display: block;
        overflow: auto;
        padding: 10px;
        max-height: 85%;
      }

      footer {
        bottom: 0;
        clear: both;
        display: block;
        left: 0;
        min-height: 20px;
        overflow: auto;
        position: absolute;
        right: 0;
      }
    }
  }
}
