<div class="fi-onboarding col-md-12 col-lg-12 col-sm-12" contentHeight=".main-wrapper">
  <div class="grid-header">
    <div class="controls" *ngIf="!loading">
      <table>
      <tr>
      <td> 
        <form [formGroup]="SearchForm">
        <filter-box
        *ngIf="fiList.length" 
        (onClear)="RefreshFilterboxGrid(datatable)"
        (onChange)="onSearch($event,datatable)"
        placeholder="Filter FIs"
      ></filter-box>
        </form></td>
        <!-- <td>
          <button (click)="onRestartServicesClick()" *ngIf="fiList.length" class="btn btn-default btn-default-custom btn-default-custom-green marg-left-5 default-boot">
            Restart Services
          </button>
        </td> -->
        <td></td>
       <td>
        <button (click)="onFiAddClick()" [disabled]="fiList.length && !isOnboardNewFIAllowed" class="btn btn-default btn-default-custom btn-default-custom-info default-boot  marg-left-5">
          <i class="fa fa-plus"></i>
          Onboard New FI
        </button>
      </td>
      <td></td>
      <td> 
        <button *ngIf="fiList.length" (click)="datatable.exportCSV()" class="btn btn-default btn-default-custom btn-default-custom-green marg-left-5 default-boot">
          <i class="fa fa-file-excel-o"></i>
          Export
        </button>
      </td>
    </tr>
    </table>
    </div>

    <h4 class="title">{{Heading}} - FI Onboarding</h4>
  </div>

  <div contentHeight=".main-wrapper">
      <div #fiOnboardingGrid style="height: 100%">
          <p-table [paginator]="true" [rows]="17" [value]="productFiList"  [scrollable]="true" scrollHeight="70vh" [columns]="cols" #datatable dataKey="FiID" [responsive]="true" 
           [resizableColumns]="true" exportFilename="fi-onboarding"  [expandedRowKeys]="expandedRows">
           <ng-template pTemplate="colgroup" let-tableColumns> 
            <colgroup> 
              <col *ngFor="let col of tableColumns" > 
            </colgroup> 
          </ng-template> 
           <ng-template pTemplate="colgroup" let-tableColumns> 
            <colgroup> 
              <col *ngFor="let col of tableColumns" > 
            </colgroup> 
          </ng-template> 
              <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th pResizableColumn *ngFor="let col of columns" [pSortableColumn]="col.field">
                          {{col.header}}
                          <p-sortIcon [field]="col.field"></p-sortIcon>
                          <i class="pi pi-bars br-align"></i>
                      </th>
                      <th pResizableColumn class="edit-btn">
                      </th>
                  </tr>
              </ng-template>
              <!-- <ng-template pTemplate="filter" let-col>
                <input type="text" pInputText [(ngModel)]="searchText" (onChange)="dt.filter($event.value, col.fiId, col.filterMatchMode) "/>
              </ng-template> -->
              <ng-template pTemplate="body" let-fiList let-expanded="expanded">
                  <tr>
                      <!-- <td class="ui-resizable-column">
                          <a [pRowToggler]="fiList" class="icon-right">
                              <i [ngClass]="expanded ? 'pi pi-minus' : 'pi pi-plus'"></i>
                          </a>
                          {{fiList.fiId}}
                        </td> -->
                      <!-- <td class="txt-center ui-resizable-column">
                        </td> -->
                      <td class="ui-resizable-column">{{fiList.fiId}}</td>
                      <td class="ui-resizable-column">{{fiList.aba}}</td>
                      <td class="ui-resizable-column">{{fiList.fiName}}</td>
                      <td class="ui-resizable-column">{{fiList.fiNameShort}}</td>
                      <td class="ui-resizable-column">{{fiList.mainframeId}}</td>
                      <!-- <td class="ui-resizable-column">{{fiList.isFdcMigrated}}</td> -->
                      <td class="ui-resizable-column">
                        <i class="fa fa-check" *ngIf="fiList.isFdcMigrated"></i>
                        </td>
                      <td class="ui-resizable-column">{{fiList.pscuClientId}}</td>
                      <td class="ui-resizable-column">{{fiList.address}}</td>
                      <td class="ui-resizable-column">{{fiList.city}}</td>
                      <td class="ui-resizable-column">{{fiList.state}}</td>
                      <td class="ui-resizable-column">{{fiList.zip}}</td>
                      <td class="ui-resizable-column">{{fiList.zip4}}</td>
                      <td class="edit-btn ui-resizable-column">
                          <i class="pi pi-pencil" (click)="onFiEditClick({data: fiList})"></i>
                          <i class="pi pi-trash" (click)="onFiDeleteClick({data: fiList})"></i>
                      </td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="rowexpansion" let-fiEditing>
                <!-- {{versionList}} -->
                <tr>
                  <td colspan="8" class="no-padding tab-collapse">
                      <div class="ui-g tablebox ">
                          <div class="ui-g-12 ui-md-2 no-padding txt-center" >
                              <button class="btn btn-default btn-default-custom btn-default-custom-info default-boot" (click)="onNoteCreateClick({data: versionList})">
                                  <i class="fa fa-plus"></i>
                                  New Note
                                </button>
                          </div>
                          <div class="ui-g-12 ui-md-10 no-padding">
                              <p-table [value]="fiList.notes" [paginator]="true" [rows]="6">
                                <ng-template pTemplate="colgroup" let-tableColumns> 
                                  <colgroup> 
                                    <col *ngFor="let col of tableColumns" > 
                                  </colgroup> 
                                </ng-template> 
                                  <ng-template pTemplate="header">
                                      <tr>
                                          <th>ABA Number <i class="pi pi-bars br-align"></i></th>
                                          <th>Name <i class="pi pi-bars br-align"></i></th>
                                          <th>PSCU Client ID <i class="pi pi-bars br-align"></i></th>
                                          <th>Mainframe FIID <i class="pi pi-bars br-align"></i></th>
                                          <th class="edit-btn">
                                              <!-- <i class="pi pi-bars br-align"></i> -->
                                          </th>
                                      </tr>
                                  </ng-template>
                                  <ng-template pTemplate="body" let-fiConfigs>
                                      <tr>
                                          <td>
                                              {{fiEditing.aba}}
                                          </td>
                                          <td>{{note.createdBy}}</td>
                                          <td>{{note.createDate | date:'mediumDate'}}</td>
                                          <td class=" edit-btn">
                                              <i class="pi pi-pencil" (click)="onNoteEditClick({data: note})"></i>
                                              <i class="pi pi-trash" (click)="onNoteDeleteClick({data: note})"></i>
                                          </td>
                                      </tr>
                                  </ng-template>
                              </p-table>
                          </div>
                      </div>
                  </td>
                </tr>
                  
              </ng-template>
          </p-table> 
      </div>
    <!-- <ag-grid #grid
             [config]="gridOptions"
             [loading]="loading">
    </ag-grid> -->
  </div>

  <!--SELECT MODAL-->
  <local-modal #selectModal
               [target]="fiOnboardingGrid"
               height="90%"
               width="60%">
    <header class="header">
      <div class="">
        <h3 class="col-md-6"> Select Financial Institution</h3>
        <div class="col-md-6 controls" *ngIf="!loading" style="text-align: right;">
          <div><form [formGroup]="SearchForm1">
            <filter-box 
            (onClear)="RefreshFiFilterboxGrid(fidatatable)"
            (onChange)="onFiAddSearch($event,fidatatable)"
            placeholder="Search"
          ></filter-box></form>
          </div>  
        </div>
      </div>
    </header>

    <main style="height: 505.2px;">
      <!-- <ag-grid #selectGrid
               style="height:100%; width:100%"
               [config]="fiListGridOptions">
      </ag-grid> -->
      
  <div #fiListGrid >
    <p-table [value]="fiListGridList" [columns]="colsFi" #fidatatable dataKey="fiId" [responsive]="true" [resizableColumns]="true"  [expandedRowKeys]="expandedRows" scrollHeight="70vh" [scrollable]="true" [paginator]="true" [rows]="17">
      <ng-template pTemplate="colgroup" let-tableColumns> 
        <colgroup> 
          <col *ngFor="let col of tableColumns" > 
        </colgroup> 
      </ng-template> 
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pResizableColumn *ngFor="let col of columns" [style.width]="col.width">
                    {{col.header}}
                    <i class="pi pi-bars br-align"></i>
                </th>
                <th pResizableColumn class="edit-btn">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fiListGridList>
            <tr>
                <td class="ui-resizable-column">{{fiListGridList.aba}}</td>
                <td class="ui-resizable-column">{{fiListGridList.fiName}}</td>
                <td class="ui-resizable-column">{{fiListGridList.pscuClientId}}</td>
                <td class="ui-resizable-column">{{fiListGridList.mainframeId}}</td>
                <td class="edit-btn ui-resizable-column" style="width: 130px;">
                    <a (click)="onFiSelectClick({data: fiListGridList})" class="select-link">SELECT</a>
                </td>
            </tr>
        </ng-template>      
    </p-table> 
</div>
    </main>

    <footer class="form-controls-row">
        <button (click)="onSelectCancelClick()" class="btn btn-sm btn-default btn-default-custom btn-default-custom-red default-boot" >Cancel</button>
    </footer>
  </local-modal>

  <!--CONFIG MODAL-->
  <local-modal #fiModal
               [target]="fiOnboardingGrid"
               height="60%"
               overflow="fi-cfg-scroll"
               width="60%">
    <header class="header">
      <h3 *ngIf="fiEditing">Product Configuration for FI</h3>
    </header>

    <main>
      <div>
        <!--FI Details-->
        <div class="col-md-5 col-lg-5 col-sm-5 fi-details" *ngIf="fiEditing">
          
          <header class="header">
            <h4>{{fiEditing.fiName}}</h4>
          </header>
          <ul>
            <li>
              <!-- <i class="fa fa-question-circle"></i> -->
              <div style="width:150px;overflow: hidden;padding-top: 4px;">
                <div style="width:70px; float: left;"> <span [ngStyle]="{'color': liveStatus === 'Live' ? 'green' : 'red'}">{{liveStatus}}</span></div>
                <div style="margin-left: 70px;"> 
                  <mat-slide-toggle
              [(ngModel)]="goLiveState" 
              [ngModelOptions]="{standalone: true}"
              (change)="onToggle($event)"
              class="example-margin live-btn"
              [color]="Primary"
              [checked]="checked"
              [disabled]="disabled">
            </mat-slide-toggle>
              
              &nbsp;
              <div style="float: right;">
              <a class="tooltip_80_bottom" title="Use Slider to change Go-live Status. Go-Live status indicates a FI is Live with {{Heading}} in production. Changing the status to off, will stop this feature for a FI and will not be able to utilize the product"
              style="background-color:#FFFFFF;color:#000000;text-decoration:none"
              href="../../../../../assets/styles/webhelp/GUID-9FDA03CA-6777-46DA-A621-E84E0748568B.html" target="_blank">
                <i aria-hidden="true" class="fa fa-question-circle"></i>
              </a>
            </div>
                  </div>
                                 
              </div>
            </li>
            <br>
            <li>
              <div style="display:flex;">
                <div style="position:relative; display:inline-block; width:40%;"><label>ABA Number</label></div>
                <div><label style="font-weight: normal;">{{fiEditing.aba || 'Not Set'}}</label></div>
              </div>
            </li>
            <li>
              <div style="display:flex;">
                <div style="position:relative; display:inline-block; width:40%;"><label>Mainframe FIID</label></div>
                <div><label style="font-weight: normal;">{{fiEditing.mainframeId || 'Not Set'}}</label></div>
              </div>
            </li>
            <li>
               <div style="display:flex;">
                  <div style="position:relative; display:inline-block; width:40%;"><label>Migrated to FDC</label></div>
                <div><label style="font-weight: normal;">{{fiEditing.isFdcMigrated || 'Not Set'}}</label></div>
              </div>
            </li>
            <li>
              <div style="display:flex;">
                  <div style="position:relative; display:inline-block; width:40%;"><label>PSCU Client ID</label></div>
                <div><label style="font-weight: normal;">{{fiEditing.pscuClientId || 'Not Set'}}</label></div>
              </div>
            </li>
          </ul>
        </div>

        <!--FI Configs-->
        <div class="col-md-7 col-lg-7 col-sm-7 fi-configs">
          <header class="header">
            <button (click)="onCfgAddClick()" *ngIf="!cfgAddForm && !cfgEditForm" class="btn-link">
              <i class="fa fa-plus"></i>
              New Config
            </button>
            <h4>Configurations</h4>
          </header>

          <!--Add Form-->
          <div class="cfg-add-panel" *ngIf="cfgAddForm">
            <!-- <form *ngIf="!saving" [formGroup]="cfgAddForm" (ngSubmit)="onCfgSaveClick()">
              <div class="row mb-1">
                <label class="col-md-4">Data Type:</label>
                <div class="col-md-8">
                    <select formControlName="dataType" class="form-control">
                      <option value="" selected="selected">SELECT</option>
                      <option *ngFor="let dt of DATA_TYPES"
                              [value]="dt.value">
                        {{dt.key}}
                      </option>
                    </select>
                </div>
              </div>
              <div class="row mb-1">
                <label class="col-md-4">Key:</label>
                <div class="col-md-8">
                    <input formControlName="key" class="form-control" />
                </div>
              </div>
              <div class="row mb-1">
                <label class="col-md-6">Value:</label>
                <div class="col-md-6">
                  <span *ngIf="!cfgAddForm.controls['dataType'].value">Select Data Type</span>
                  <input formControlName="value"
                  *ngIf="cfgAddForm.controls['dataType'].value === 'String'"
                  [maxlength]="MAX_KV_LENGTH" class="form-control" />
                  <input type="number" formControlName="value"
                  *ngIf="cfgAddForm.controls['dataType'].value === 'Number'"
                  [maxlength]="MAX_KV_LENGTH" class="form-control" />
                  <input style="float: left; width: 15px; margin-top: -5px;" type="checkbox" formControlName="value"
                  *ngIf="cfgAddForm.controls['dataType'].value === 'Boolean'" class="form-control" />
                  <date-picker formControlName="value" *ngIf="cfgAddForm.controls['dataType'].value === 'Datetime'" class=""></date-picker>
                </div>
              </div>
              <div class="row mb-1">
                <label class="col-md-4">Is Required:</label>
                <div class="col-md-8">
                  <input style="float: left; width: 15px; margin-top: -5px;" class="form-control" type="checkbox" formControlName="isRequired" />
                </div>
              </div>
            </form> -->
            <form *ngIf="!saving" [formGroup]="cfgAddForm" (ngSubmit)="onCfgSaveClick()">
              <div class="row mb-1">
                <label class="col-md-3">Data Type:<span style="color:Red;">*</span></label>
                <div class="col-md-9">
                    <select [attr.disabled]="isDisabled ? '' : null"  class="form-control" formControlName="dataType" inputValidate errorMessage="Data Type is required">
                      <option value="" selected="selected">Select</option>
                      <option *ngFor="let dt of DATA_TYPES"
                              [value]="dt.value">
                        {{dt.key}}
                      </option>
                    </select>
                </div>
              </div>
              <div class="row mb-1">
                <label class="col-md-3" >Key:<span style="color:Red;">*</span> </label>
                <div class="col-md-9">
                    <input class="form-control" formControlName="key"  (keyup)="CheckDuplicateKey($event);" [attr.disabled]="isDisabled ? '' : null"
                    inputValidate
                    errorMessage="Key is required"/>
                </div>
                
              </div>
              <div class="row mb-1">
                  <label class="col-md-3">Value:<span *ngIf="cfgAddForm.value.dataType === 'List'" style="color:Red;">*</span></label>
                  <div class="col-md-9 value-scroll">
                    <input formControlName="value"
                           *ngIf="cfgAddForm.value.dataType === 'String'"
                           class="form-control" />
                    <input type="number" formControlName="value"
                           *ngIf="cfgAddForm.value.dataType === 'Number'"
                           [maxlength]="MAX_KV_LENGTH" class="form-control" />
                    <input style="float: left; width: 15px; margin-top: -5px;" type="checkbox" formControlName="value"
                           *ngIf="cfgAddForm.value.dataType === 'Boolean'" class="form-control" />
                    <date-picker formControlName="value" *ngIf="cfgAddForm.value.dataType === 'Datetime'"></date-picker>
    
                    <div *ngIf="cfgAddForm.value.dataType === 'List'" formArrayName="Config_Value_Option">
                      <div class="row">
                        <span class="col-md-3">Select value</span>
                        <span class="col-md-7">Value</span>
                      </div>
                      <div class="row" *ngFor="let item of cfgAddForm.get('Config_Value_Option').controls let i = index;" [formGroupName]="i">
                        <span class="col-md-3" style="text-align: center">
                            <input type="radio" formControlName="value" (click)="SelectListValue(i);" name="value" [value]="i" class="form-control w-20" />
                        </span>
                        <span class="col-md-7" >
                          <input type="text"  formControlName="Config_Value_Option" class="form-control">
                        </span>
                        <span class="col-md-2 plus-icon">
                          <a  (click)="removeListValue(i);"><i class="fa fa-times" style="background-color: red;"></i></a>
                        </span>
                      </div>
                      <div class="row">
                        <span class="col-md-12 plus-icon">
                          <a  (click)="addListValue();"><i class="fa fa-plus"></i></a>
                        </span>
                      </div>
                      
                    </div>
    
                    <span *ngIf="!cfgAddForm.value.dataType">Select Data Type</span>
                  </div>
                 
              </div>
              <div class="row mb-1">
                <label class="col-md-3">Is Required:</label>
                <div class="col-md-9">
                  <input style="float: left; width: 15px; margin-top: -5px;" class="form-control" type="checkbox" formControlName="isRequired" [attr.disabled]="isDisabled ? '' : null" />
                </div>
              </div>
            </form>
            <div class="controls text-right" *ngIf="!saving">
              <button (click)="onCfgSaveClick()" class="btn btn-sm btn-orange btn-default-custom btn-default-custom-info mr-2">Save</button>
              <button (click)="onCfgCancelClick()" class="btn btn-sm btn-default btn-default-custom btn-default-custom-red default-boot" >Cancel</button>
            </div>

            <loading-anim *ngIf="saving"></loading-anim>
          </div>
  
          <!--Edit Form-->
          <div class="cfg-edit-panel" *ngIf="cfgEditForm">
            <form *ngIf="!saving" [formGroup]="cfgEditForm" (ngSubmit)="onCfgSaveClick()">
              <div class="row mb-1">
                <label class="col-md-3">Data Type:<span style="color:Red;">*</span></label>
                <div class="col-md-9">
                    <select [attr.disabled]="isDisabled ? '' : null"  class="form-control" formControlName="dataType" inputValidate errorMessage="Data Type is required">
                      <option value="" selected="selected">Select</option>
                      <option *ngFor="let dt of DATA_TYPES"
                              [value]="dt.value">
                        {{dt.key}}
                      </option>
                    </select>
                </div>
              </div>
              <div class="row mb-1">
                <label class="col-md-3" >Key:<span style="color:Red;">*</span> </label>
                <div class="col-md-9">
                    <input class="form-control" formControlName="key"  (keyup)="CheckDuplicateKey($event);" [attr.disabled]="isDisabled ? '' : null"
                    inputValidate
                    errorMessage="Key is required"/>
                </div>
                
              </div>
              <div class="row mb-1">
                  <label class="col-md-3">Value:</label>
                  <div class="col-md-9 value-scroll">
                    <input formControlName="value"
                           *ngIf="cfgEditForm.value.dataType === 'String'"
                           class="form-control" />
                    <input type="number" formControlName="value"
                           *ngIf="cfgEditForm.value.dataType === 'Number'"
                           [maxlength]="MAX_KV_LENGTH" class="form-control" />
                    <input style="float: left; width: 15px; margin-top: -5px;" type="checkbox" formControlName="value"
                           *ngIf="cfgEditForm.value.dataType === 'Boolean'" class="form-control" />
                    <date-picker formControlName="value" *ngIf="cfgEditForm.value.dataType === 'Datetime'"></date-picker>
    
                    <div *ngIf="cfgEditForm.value.dataType === 'List' && !isProductConfig" formArrayName="Config_Value_Option">
                      <div class="row">
                        <span class="col-md-3">Select value</span>
                        <span class="col-md-7">Value</span>
                      </div>
                      <div class="row" *ngFor="let item of cfgEditForm.get('Config_Value_Option').controls let i = index;" [formGroupName]="i">
                        <span class="col-md-3" style="text-align: center">
                            <input type="radio" formControlName="value" (click)="SelectListValue(i);" name="value" [value]="i" class="form-control w-20" />
                        </span>
                        <span class="col-md-7" >
                          <input type="text"  formControlName="Config_Value_Option" class="form-control">
                        </span>
                        <span class="col-md-2 plus-icon">
                          <a  (click)="removeListValue(i);"><i class="fa fa-times" style="background-color: red;"></i></a>
                        </span>
                      </div>
                      <div class="row">
                        <span class="col-md-12 plus-icon">
                          <a  (click)="addListValue();"><i class="fa fa-plus"></i></a>
                        </span>
                      </div>
                      
                    </div>
                    <div *ngIf="cfgEditForm.value.dataType === 'List' && isProductConfig">
                        <select class="form-control" name="value"  formControlName="value" (change)="ChangeListValue($event)">
                          <option [value]="i" *ngFor="let item of ConfigValueOptions let i = index;">{{ item.Config_Value_Option }}</option>
                        </select>
                    </div>
    
                    <span *ngIf="!cfgEditForm.value.dataType">Select Data Type</span>
                  </div>
                 
              </div>
              <div class="row mb-1">
                <label class="col-md-3">Is Required:</label>
                <div class="col-md-9">
                  <input style="float: left; width: 15px; margin-top: -5px;" class="form-control" type="checkbox" formControlName="isRequired" [attr.disabled]="isDisabled ? '' : null" />
                </div>
              </div>
            </form>
            <div class="controls text-right" *ngIf="!saving" >
              <button (click)="onCfgSaveClick()" class="btn btn-sm btn-orange btn-default-custom btn-default-custom-info mr-2">Save</button>
              <button (click)="onCfgCancelClick()" class="btn btn-sm btn-default btn-default-custom btn-default-custom-red default-boot">Cancel</button>
            </div>
            <loading-anim *ngIf="saving"></loading-anim>
          </div>
  

          <!--Configs-->
          <ul *ngIf="fiConfigs.length && !cfgAddForm && !cfgEditForm" style="height: 270px; overflow-y:auto" class="fi-cfg-scroll">
            <li *ngFor="let cfg of fiConfigs">
              <div class="controls">
                  <div style="display:flex;">
                    <div style="position:relative; display:inline-block; width:17px;">
                      <a class="button-image btn-edit" title="Edit" (click)="onCfgEditClick(cfg.configId)"></a>
                    </div>
                    <div style="position:relative; display:inline-block; width:17px;">
                      <a class="button-image btn-delete"
                        title="Delete"
                        *ngIf="!cfg.isProductConfig"
                        (click)="onCfgDeleteClick(cfg.configId)">
                      </a>
                    </div>
                </div>
              </div>
              <div style="display:flex;">
                  <div style="position:relative; display:inline-block; width:30%;word-break:break-word"><label class="cfg-key">{{cfg.key}}</label></div>
                  <div style="width: 62%"><label style="font-weight: normal;word-break:break-word">{{cfg.value}}</label></div>
              </div>
            </li>
          </ul>

          <!--No Items Msg-->
          <div class="no-configs" *ngIf="!fiConfigs.length && !cfgAddForm && !cfgEditForm">
            <label>No items to show.</label>
          </div>

        </div>
      </div>
    </main>

    <footer class="form-controls-row">
      <button (click)="onFiEditCloseClick()" class="btn btn-sm btn-default btn-default-custom btn-default-custom-red default-boot" *ngIf="!saving">Close</button>
    </footer>
  </local-modal>

  <local-modal #yesNoModal class="reson_model" 
    height="40%"
    width="100%">
    <header class="header">
      <h3>FI Go-Live Status Change</h3>
    </header>
    <main>
      <div  class="cfg-add-panel">
        <!-- <div class="swal2-icon swal2-warning swal2-animate-warning-icon" style="display: flex;"><span class="swal2-icon-text">!</span></div> -->
        <div >
          <h4>Proceed with Go-Live status change?</h4>
        </div>
      </div>
    </main>
    <footer class="form-controls-row" style="text-align: center;">
      <button (click)="onConfirmGoLiveChange($event)" class="btn btn-sm btn-orange btn-default-custom btn-default-custom-info" *ngIf="!saving">Yes</button>
      <button (click)="onDenyGoLiveChange($event)" class="btn btn-sm btn-default btn-default-custom btn-default-custom-red default-boot" *ngIf="!saving">No</button>
      <button *ngIf="saving">
          <loading-anim></loading-anim>
      </button>
    </footer>
  </local-modal>

  <local-modal #goLivefiModal class="reson_model" 
    height="40%"
    width="100%">
    <header class="header">
      <h3>FI Go-Live Status Change</h3>
    </header>
    <main>
      <div  class="cfg-add-panel">
        <!-- <div class="swal2-icon swal2-warning swal2-animate-warning-icon" style="display: flex;"><span class="swal2-icon-text">!</span></div> -->
        <div >
          <h4>Reason for change</h4>
        </div>
        <div class="col-md-10 col-sm-offset-1">
          <input type="textarea" rows="3" cols="20" inputValidate errorMessage="Minimum 20 characters reason is required" class="reason-input" name='comment' placeholder="Enter reason for changing Status" [(ngModel)]="goLiveComment" (keyup)="onCommentEntry($event)" style="width: 100%;margin-top: 2px;padding: 5px;font-size: 15px;"/>
        </div>
        <div></div>
      </div>
      <br>
    </main>
    <footer class="form-controls-row" style="text-align: center;">
      <button (click)="onCommentSave($event)"  class="btn btn-sm btn-orange btn-default-custom btn-default-custom-info" *ngIf="this.makeenable == true">Ok</button>
      <button (click)="onCommentSave1($event)"  class="btn btn-sm btn-default-custom " *ngIf="this.makeenable == false">Ok</button>
      <button (click)="onGoLiveEditClose($event)" formControlName="CommentCancel" class="btn btn-sm btn-default btn-default-custom btn-default-custom-red default-boot" *ngIf="!saving">Cancel</button>
      <button *ngIf="saving">
          <loading-anim></loading-anim>
      </button>
    </footer>
  </local-modal>
</div>

