
@import '../../../../../../assets/styles/colors';

dialog-modal {

  .dialog-overlay {
    background: rgba(0, 0, 0, 0.25);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
  }

  .dialog {
    background: #fff;
    border: solid 1px #d3d3d3;
    border-radius: 0px;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 52.5%;
    transform: translate(-50%, -50%);
    z-index: 1001;
   

    header {
      color: $orange-primary;
      display: block;
      min-height: 50px;
      overflow: hidden;
      padding: 10px;
      text-align: center;
    }
    header h3{
      margin: 0px;
    }
    main {
      display: block;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 10px;
      text-align: center;
    }

    footer {
      display: block;
      min-height: 20px;
      overflow: hidden;
      text-align: center;

      button {
        margin: 5px 10px;
      }
    }
  }
  .btn-default-custom-info {
    background-color: #089de3;
  }
  .btn-default-custom-info:hover, .btn-default-custom-info:focus {
    background-color: #fff;
    box-shadow: 0 0 0 0 #fff;
    color: #089de3 !important;
    border: 1px solid #089de3 !important;
  }
  .btn-default-custom-red {
    background-color: #dd0303;
  }
  .btn-default-custom-red:hover, .btn-default-custom-red:focus {
    background-color: #fff;
    box-shadow: 0 0 0 0 #fff;
    color: #dd0303 !important;
    border: 1px solid #dd0303 !important;
  }
  .btn-default-custom{
    margin-right: 20px;
    border-radius: 0px;
    border: 0px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 35px;
    border-radius: 0px;
    padding: 8px 20px 10px;
    cursor: pointer;
    text-transform: capitalize;
    /* box-shadow: inset 0px 0px 18px 3px #f37800;
    -moz-box-shadow: inset 0px 0px 18px 3px #f37800;
    -webkit-box-shadow: inset 0px 0px 18px 3px #f37800; */
  }
}
