<div class="dialog-overlay" *ngIf="showDialog"></div>
<div class="dialog" *ngIf="showDialog && config"
     [ngClass]="config.dialogClass"
     [style.height.px]="layout.bodyHeight"
     [style.top.px]="layout.pos.top"
     [style.width.px]="layout.bodyWidth">
  <header *ngIf="config.title" class="header">
    <h3>{{config.title}}</h3>
  </header>

  <main [ngSwitch]="config.dialogType" [style.height.px]="layout.bodyHeight">
    <div *ngSwitchCase="1">
    </div>
    <div *ngSwitchCase="2">
    </div>
    <div *ngSwitchCase="3">
      <label>{{config.text}}</label>
    </div>
    <div *ngSwitchCase="4">
      <label>{{config.text}}</label>
    </div>
  </main>

  <footer [ngSwitch]="config.dialogType">
    <div *ngSwitchCase="1">
    </div>
    <div *ngSwitchCase="2">
    </div>
    <div class="align-center" *ngSwitchCase="3">
      <button class="btn btn-sm btn-default-custom btn-default-custom-info" (click)="okClick()">Ok</button>
      <button class="btn btn-sm btn-default-custom btn-default-custom-red" (click)="cancelClick()">Cancel</button>
    </div>
    <div class="align-right" *ngSwitchCase="4">
      <button class="btn btn-sm btn-default-custom btn-default-custom-info" (click)="okClick()">Yes</button>
      <button class="btn btn-sm btn-default-custom btn-default-custom-red" (click)="cancelClick()">No</button>
    </div>
  </footer>
</div>



