<header class="container-fluid app-header clearfix">
    <div class="row">
      <div class="col-sm-2 col-md-3">
        <img src="../../../../../assets/images/Logo-CPS.png" alt="LOGO" class="logo-img"/>
      </div>
      <div class="col-sm-6 col-md-6">
  
      </div>
      <div class="col-sm-4 col-md-3 text-right">
  
      </div>
    </div>
  </header>

<div class="resetpassword-panel">
  <h2 class="form-title">Reset Password</h2>
  <form [formGroup]="resetPasswordForm">
      <div class="form-section">
        <div class="form-group">
            <div  class="input-group" *ngIf="resetPasswordState===1"><span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input formControlName="username"  class="form-control" placeholder='Enter Username or email address'/>
            </div>
        </div>
        <div *ngIf="newUser" class="userDiv">Your Username: <label id="userName"> {{userName}}</label></div>
        <div *ngIf="resetPasswordState===2 && !resetSecurityQuestion">
            <br>
          <label *ngIf="securityQuestion">Security Question:</label>
          <div class="form-group" *ngIf="securityQuestion">
            {{securityQuestion}}
            <br>
            <label>Enter your security answer</label>
            <br> <input formControlName="securityanswer"  class="form-control" placeholder='Security Answer'/>
          </div>
          <div *ngIf="contactAdmin" style="color: red">Please contact Administrator for assistance</div>
        </div>
<!-- begin select -->
<div *ngIf="resetPasswordState===3 && resetSecurityQuestion">
    <div class="form-group">
        <div *ngIf="resetSecurityQuestion" >You have not setup security question and answer for your account security. You will need to set that up 
            before you can reset your password.</div>
            <br>
    <label>Security Question</label>
    <br>
    <select formControlName="securityquestionList" class="form-control">
      <option  *ngFor="let item of questions" value="{{item.QuestionId}}">{{item.Question}}</option>
    </select>
  </div>
</div>
<div *ngIf="resetPasswordState===3 && resetSecurityQuestion">
  <div class="form-group">
    <label>Enter your security answer</label>
    <br> <input formControlName="securityanswer"  class="form-control" placeholder='Security Answer'/>
  </div>
  <div *ngIf="contactAdmin" style="color: red">Please contact Administrator for assistance</div>
</div>
<!-- end select  -->
          
          <!-- <div *ngIf="contactAdmin" style="color: red">Please contact Administrator for assistance</div>
        </div> -->
        <div *ngIf="resetPasswordState===4">
          <div class="form-group">
            <label>New Password</label><br> <input type="password" (keypress)="IV.passwordCharactersOnly($event)"  autocomplete="false" formControlName="newpassword" class="form-control"  placeholder='New Password'/>
          </div>
          <div class="form-group">
            <label>Confirm Password</label><br> <input  type="password"  (keypress)="IV.passwordCharactersOnly($event)" autocomplete="false" formControlName="confirmpassword" class="form-control" placeholder='Confirm Password'/>
          </div>
          <div *ngIf="!passwordMatch" style="color: red">Invalid data or Confirm Password should match New Password</div>
          <div *ngIf="!meetsPasswordCriteria" style="color: red">New password does not meet criteria!</div>
        </div>

        <div *ngIf="emailSent">You will receive an email shortly with details to reset password on the registered email address if the information provided is correct. If you do not receive an email, please contact helpdesk.</div>

        <div class="form-buttons text-right">
          <button type="button" *ngIf="!emailSent" class="btn-lg btn btn-default-custom btn-default-custom-orange"  (click)="onpwdResetFormSubmit($event)">Ok</button>
          <button type="button" class="btn-lg btn-default-custom btn-default-custom-orange"  (click)="onpwdResetFormCancel($event)">{{buttonTitle}}</button>
          <button *ngIf="changingState" type="button" class="btn-lg btn-default-custom btn-default-custom-orange"><loading-anim></loading-anim></button>
        </div>
      </div>
  </form>
</div>

<local-modal #message height="350"
width="60%">
<header>
  <h3>Error</h3>
</header>
<label>Message</label>
<main>
  {{errMessage}}
</main>
  <footer class="form-controls-row">
    <button (click)="onCancelClick()">Ok</button>
  </footer>
</local-modal>
