@import "../../../../../../assets/styles/mixins";
@import "../../../../../../assets/styles/variables";

.date-range-picker {
  position: relative;
  z-index: 9999;

  input {
    transition: all 0.5s ease;

    .error {
      border-color: #F00;
    }
  }

  .dp-container {
    // background-color: #333;
    background-color: white;
    border: none;
    // box-shadow: $panel-shadow;
    left: 0;
    max-height: 0;
    overflow: hidden;
    display: none;
    opacity: 0;
    // position: absolute;
    top: 26px;
    transition: max-height 0.5s ease;
    z-index: 100;

    &.open {
      border: 1px solid #337ab7;
      max-height: 500px;
      display: block;
      opacity: 1;
      border-radius: 4px;
      margin-top: 9px;
      width: 216px;
    }

    // @include border-radius(0 10px 10px 10px);

    .dp-header {
      display: block;
      width: 100%;

      .header-buttons {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        width: 100%;

        @include border-radius(0 10px 0 0);
        // @include linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));

        li {
          cursor: pointer;
          display: inline-block;
          line-height: 20px;
          padding: 2px 5px;
          text-align: center;
          width: 33%;

          &:hover {
            @include linear-gradient(to bottom, rgba(0, 50, 200, 0.8), rgba(0, 0, 0, 0));
          }

          &:first-of-type {
            // @include linear-gradient(to bottom, rgba(0, 150, 0, 0.3), rgba(0, 0, 0, 0.1));

            &:hover {
              @include linear-gradient(to bottom, rgba(0, 150, 0, 0.7), rgba(0, 0, 0, 0.1));
            }
          }

          &:last-of-type {
            @include border-radius(0 10px 0 0);
            @include linear-gradient(to bottom, rgba(150, 0, 0, 0.3), rgba(0, 0, 0, 0.1));

            &:hover {
              @include linear-gradient(to bottom, rgba(150, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
            }
          }
        }
      }
    }

    .dp-main {
      display: inline-block;
      margin: 0 0px 0 0;
      vertical-align: top;

      .dp-month-nav-left {
        display: inline-block;
      }

      .dp-month-nav-right {
        display: inline-block;
      }

      ul {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        vertical-align: top;

        li {
          display: inline-block;
          margin: 0;
          padding: 0;
          vertical-align: top;
        }
      }

      .dp-month {
        // background-color: $panel-bg;
        // box-shadow: $panel-shadow;
        padding: 5px 0 0px;
        width: 214px;
        border-radius: 0px;

        @include border-radius(10px);

        &:last-of-type {
          margin-right: 0;
        }

        .dp-month-header {
          font-weight: 400;
          padding: 2px;
          text-align: center;
          width: 214px;

          @include linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0));

          .date_label {
            text-align: center;
            margin-bottom: 5px;
          }

          .nav-month-back, .nav-month-fwd {
            cursor: pointer;
            font: normal normal normal 16px/1 FontAwesome;
            padding: 0 6px;
            // text-shadow: rgba(0, 0, 0, 0.5) 2px 1px 3px;
          }

          .nav-month-back {
            float: left;

            &:before {
              content: "\f053";
            }
          }

          .nav-month-fwd {
            float: right;

            &:before {
              content: "\f054";
            }
          }

          label {
            margin: 0;
            padding: 0;
            // text-shadow: rgba(0, 0, 0, 1) 1px 1px 2px;
          }
        }

        .dp-month-days {
          overflow: hidden;
          padding: 0 2px 2px 2px;
          width: 214px;

          @include linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));

          .dp-dow-header {
            font-weight: bold;
            height: 15px;
            margin: 1px;
            text-align: center;
            // text-shadow: rgba(0, 0, 0, 1) 1px 1px 2px;
            text-transform: uppercase;
            width: 28px;
          }

          .dp-day {
            cursor: pointer;
            height: 28px;
            margin: 1px;
            text-align: center;
            width: 28px;

            &.dom {
              @include border-radius(3px);
              // @include linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.1));

              &:hover {
                // @include linear-gradient(to bottom, rgba(0, 50, 100, 0.6), rgba(0, 120, 239, 0.6));
              }
            }

            &.selected {
              // @include linear-gradient(to bottom, rgba(0, 100, 50, 0.3), rgba(0, 239, 120, 0.6));
            }

            &.today {
              border: 1px solid rgba(255,255,255,0.7);
              height: 27px;
              width: 27px;
            }

            label {
              cursor: pointer;
              line-height: 28px;
              margin: 0;
              // text-shadow: rgba(0, 0, 0, 1) 1px 1px 2px;
              vertical-align: middle;
            }
          }
        }
      }
    }

    .dp-footer {
      display: block;
      width: 100%;

      .footer-buttons {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        width: 100%;

        @include border-radius(0 0 10px 10px);
        @include linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));

        li {
          cursor: pointer;
          display: inline-block;
          line-height: 20px;
          padding: 2px 5px;
          text-align: center;
          width: 33%;

          &:hover {
            @include linear-gradient(to top, rgba(0, 50, 200, 0.6), rgba(0, 0, 0, 0));
          }

          &:first-of-type {
            @include border-radius(0 0 0 10px);
            @include linear-gradient(to top, rgba(0, 150, 0, 0.3), rgba(0, 0, 0, 0.1));

            &:hover {
              @include linear-gradient(to top, rgba(0, 150, 0, 0.7), rgba(0, 0, 0, 0.1));
            }
          }

          &:last-of-type {
            @include border-radius(0 0 10px 0);
            @include linear-gradient(to top, rgba(150, 0, 0, 0.3), rgba(0, 0, 0, 0.1));

            &:hover {
              @include linear-gradient(to top, rgba(150, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
            }
          }
        }
      }
    }
  }
}
